@{
    ViewBag.Title = "Trang chủ | Spendingshop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN #slider -->
@RenderPage("/Views/Shared/Slider.cshtml")
<!-- END #slider -->
<!-- BEGIN #trending-items -->
<div id="trending-items" class="section-container bg-silver">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN section-title -->
        <h4 class="section-title clearfix">
            @*<a href="#" class="pull-right m-l-5"><i class="fa fa-angle-right f-s-18"></i></a>
                <a href="#" class="pull-right"><i class="fa fa-angle-left f-s-18"></i></a>*@
            <a href="#" class="pull-right">Xem tất cả</a>
            Xu hướng
            <small>Mua sắm và có được các mục yêu thích của bạn tại giá cả tuyệt vời!</small>
        </h4>
        <!-- END section-title -->
        <!-- BEGIN row -->
        <div class="row row-space-10">
            @for (int i = 0; i < 4; i++)
            {
                <!-- BEGIN col-2 -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <!-- BEGIN item -->
                <div class="item item-thumbnail">
                    <a href="/Product/Detail" class="item-image">
                        <img src="/Upload/Images/Product/product3.jpg" class="img img-responsive" alt="" />
                        <div class="discount">Khuyến mãi 15%</div>
                    </a>
                    <div class="item-info">
                        <h4 class="item-title">
                            <a href="/Product/Detail">Aqua Underwater luminaires</a>
                        </h4>
                        <p class="item-desc">A compact recessed underwater projector for swimming pools</p>
                        <div class="item-price">$649.00</div>
                        <div class="item-discount-price">$739.00</div>
                    </div>
                </div>
                <!-- END item -->
            </div>
                <!-- END col-2 -->
            }
        </div>
        <!-- END row -->
    </div>
    <!-- END container -->
</div>
<!-- END #trending-items -->
<!-- BEGIN #mobile-list -->
<div id="mobile-list" class="section-container bg-white">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN section-title -->
        <h4 class="section-title clearfix">
            <a href="#" class="pull-right">Xem tất cả</a>
            Điện thoại di động
            <small>Mua sắm và nhận được điện thoại yêu thích của bạn tại giá cả tuyệt vời!</small>
        </h4>
        <!-- END section-title -->
        <!-- BEGIN category-container -->
        <div class="row row-space-10">
            @for (int i = 0; i < 4; i++)
            {
                <!-- BEGIN col-2 -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <!-- BEGIN item -->
                <div class="item item-thumbnail">
                    <a href="/Product/Detail" class="item-image">
                        <img src="/Upload/Images/Product/product3.jpg" class="img img-responsive" alt="" />
                        <div class="discount">Khuyến mãi 15%</div>
                    </a>
                    <div class="item-info">
                        <h4 class="item-title">
                            <a href="/Product/Detail">Aqua Underwater luminaires</a>
                        </h4>
                        <p class="item-desc">A compact recessed underwater projector for swimming pools</p>
                        <div class="item-price">$649.00</div>
                        <div class="item-discount-price">$739.00</div>
                    </div>
                </div>
                <!-- END item -->
            </div>
                <!-- END col-2 -->
            }
        </div>
    </div>
    <!-- END category-container -->
</div>
<!-- END container -->
</div>
<!-- END #mobile-list -->
<!-- BEGIN #policy -->
<div id="policy" class="section-container p-t-30 p-b-30">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN row -->
        <div class="row">
            <!-- BEGIN col-4 -->
            <div class="col-md-4 col-sm-4">
                <!-- BEGIN policy -->
                <div class="policy">
                    <div class="policy-icon"><i class="fa fa-truck"></i></div>
                    <div class="policy-info">
                        <h4>Miễn phí giao hàng Trên $ 100</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <!-- END policy -->
            </div>
            <!-- END col-4 -->
            <!-- BEGIN col-4 -->
            <div class="col-md-4 col-sm-4">
                <!-- BEGIN policy -->
                <div class="policy">
                    <div class="policy-icon"><i class="fa fa-shield"></i></div>
                    <div class="policy-info">
                        <h4>Bảo hành 1 năm cho điện thoại</h4>
                        <p>Cras laoreet urna id dui malesuada gravida. <br />Duis a lobortis dui.</p>
                    </div>
                </div>
                <!-- END policy -->
            </div>
            <!-- END col-4 -->
            <!-- BEGIN col-4 -->
            <div class="col-md-4 col-sm-4">
                <!-- BEGIN policy -->
                <div class="policy">
                    <div class="policy-icon"><i class="fa fa-user-md"></i></div>
                    <div class="policy-info">
                        <h4>Bảo hành 6 tháng cho các phụ kiện</h4>
                        <p>Fusce ut euismod orci. Morbi auctor, sapien non eleifend iaculis.</p>
                    </div>
                </div>
                <!-- END policy -->
            </div>
            <!-- END col-4 -->
        </div>
        <!-- END row -->
    </div>
    <!-- END container -->
</div>
<!-- END #policy -->