
@{
    ViewBag.Title = "Không tìm thấy trang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="wrapper-page">
                <img src="/Content/images/animat-search-color.gif" alt="" height="120">
                <h2 class="text-uppercase text-danger">Không tìm thấy trang</h2>
                <p class="text-muted">
                    Nó trông như bạn có thể đã đi sai.
                    Đừng lo lắng ... nó sẽ xảy ra để tốt nhất của chúng tôi.
                    Bạn có thể muốn kiểm tra kết nối internet của bạn.
                    Đây là một mẹo nhỏ có thể giúp bạn có được trở lại theo dõi.
                </p>
                <a class="btn btn-custom waves-light waves-effect w-md m-b-5" href="/trang-chu"> Về trang chủ</a>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>

