
@{
    ViewBag.Title = "Lỗi máy chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="wrapper-page">
                <img src="/Content/images/animat-customize-color.gif" alt="" height="120">
                <h1 style="font-size: 78px;">500</h1>
                <h3 class="text-uppercase text-danger">Lỗi máy chủ nội bộ</h3>
                <p class="text-muted">
                    Tại sao không thử làm mới trang của bạn? hoặc bạn có thể liên hệ
                    <a href="/lien-he" class="text-primary">hỗ trợ</a>
                </p>

                <a class="btn btn-custom waves-light waves-effect w-md m-b-5" href="/trang-chu"> Về trang chủ</a>
            </div>

        </div>
    </div>
</div>

