a.control, button.control, input[type='button'] {
	position: relative;
	display: inline-block;
	padding: 10px 25px;
	margin: 0;
	margin-bottom: 7px;
	color: white;
	background-color: #0B84FE;
	text-decoration: none;
	font-size: 13px;
	cursor: pointer;
	border: solid thin rgba(0,0,0,0);
	text-align: center;
	font-weight: 500;
	z-index: 1;

	transition: all 0.1s ease;
}
a.control:not(.disabled):not(.no-hover):not(.hover-inverse):not(.gradient):hover ,
button.control:not(.disabled):not(.no-hover):not(.hover-inverse):not(.gradient):hover ,
input[type='button'].control:not(.disabled):not(.no-hover):not(.hover-inverse):not(.gradient):hover {
	background: rgba(255,255,255,0.21);
	background: -moz-linear-gradient(top, rgba(255,255,255,0.21) 0%, rgba(255,255,255,0.21) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.21)), color-stop(100%, rgba(255,255,255,0.21)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.21) 0%, rgba(255,255,255,0.21) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0.21) 0%, rgba(255,255,255,0.21) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0.21) 0%, rgba(255,255,255,0.21) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0.21) 0%, rgba(255,255,255,0.21) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}
a.control:not(.disabled):not(.no-hover):not(.gradient):hover ,
button.control:not(.disabled):not(.no-hover):not(.gradient):hover ,
input[type='button'].control:not(.disabled):not(.no-hover):not(.gradient):hover {
	background: rgba(0,0,0,0.21);
	background: -moz-linear-gradient(top, rgba(0,0,0,0.21) 0%, rgba(0,0,0,0.21) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.21)), color-stop(100%, rgba(0,0,0,0.21)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.21) 0%, rgba(0,0,0,0.21) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0.21) 0%, rgba(0,0,0,0.21) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0.21) 0%, rgba(0,0,0,0.21) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.21) 0%, rgba(0,0,0,0.21) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

a.control[data-caret='normal']:after ,
button.control[data-caret='normal']:after ,
input[type='button'].control[data-caret='normal']:after {
	font-family: FontAwesome;
	font-size: 14px;
	font-weight: bold;
	content: '\f107';
	margin-left: 3px;
}
a.control[data-caret='right']:after ,
button.control[data-caret='right']:after ,
input[type='button'].control[data-caret='right']:after {
	position: absolute;
	top: calc(50% - 11px);
	right: 10px;
	font-family: FontAwesome;
	font-size: 14px;
	font-weight: bold;
	content: '\f107';
}
a.control[data-caret='left']:after ,
button.control[data-caret='left']:after ,
input[type='button'].control[data-caret='left']:after {
	position: absolute;
	top: calc(50% - 11px);
	left: 10px;
	font-family: FontAwesome;
	font-size: 14px;
	font-weight: bold;
	content: '\f107';
}

a.control:not(.disabled):active ,
button.control:not(.disabled):active ,
input[type='button'].control:not(.disabled):active {
	box-shadow: inset 0 1px 5px rgba(0,0,0,0.2);
}

a.control:not(.disabled):focus ,
button.control:not(.disabled):focus ,
input[type='button'].control:not(.disabled):focus {
	border-color: rgba(0,0,0,0.4);
}

a.control i ,
button.control i ,
input[type='button'].control i {
	margin-right: 3px;
}

a.control.xsmall ,
button.control.xsmall ,
input[type='button'].control.xsmall {
	padding: 4px 19px;
	font-size: 8px;
}
a.control.small ,
button.control.small ,
input[type='button'].control.small {
	padding: 7px 22px;
	font-size: 10px;
}
a.control.large ,
button.control.large ,
input[type='button'].control.large {
	padding: 13px 28px;
	font-size: 16px;
}
a.control.xlarge ,
button.control.xlarge ,
input[type='button'].control.xlarge {
	padding: 16px 31px;
	font-size: 20px;
}

a.control.border ,
button.control.border ,
input[type='button'].control.border {
	border-color: rgba(0,0,0,0.15);
}

a.control.block ,
button.control.block ,
input[type='button'].control.block {
	width: 100%;
}

a.control.rounded2 ,
button.control.rounded2 ,
input[type='button'].control.rounded2 {
	border-radius: 20px;
}
a.control.large.rounded2 ,
button.control.large.rounded2 ,
input[type='button'].control.large.rounded2 {
	border-radius: 25px;
}
a.control.xlarge.rounded2 ,
button.control.xlarge.rounded2 ,
input[type='button'].control.xlarge.rounded2 {
	border-radius: 30px;
}

a.control.fb ,
button.control.fb ,
input[type='button'].control.fb {
	color: #fff !important;
	background-color: #5c90d2 !important;
}
a.control.fb:before ,
button.control.fb:before ,
input[type='button'].control.fb:before {
	position: absolute;
	top: calc(50% - 8px);
	left: 15px;
	font-family: FontAwesome;
	font-weight: normal;
	content: '\f09a';
}

a.control.gplus ,
button.control.gplus ,
input[type='button'].control.gplus {
	color: #fff !important;
	background-color: #d26a5c !important;
}
a.control.gplus:before ,
button.control.gplus:before ,
input[type='button'].control.gplus:before {
	position: absolute;
	top: calc(50% - 8px);
	left: 15px;
	font-family: FontAwesome;
	font-weight: normal;
	content: '\f0d5';
}

a.control.twitter ,
button.control.twitter ,
input[type='button'].control.twitter {
	color: #fff !important;
	background-color: #70b9eb !important;
}
a.control.twitter:before ,
button.control.twitter:before ,
input[type='button'].control.twitter:before {
	position: absolute;
	top: calc(50% - 8px);
	left: 15px;
	font-family: FontAwesome;
	font-weight: normal;
	content: '\f099';
}

a.control.share:after ,
button.control.share:after ,
input[type='button'].control.share:after {
	position: absolute;
	top: calc(50% - 8px);
	right: 15px;
	font-family: FontAwesome;
	font-weight: normal;
	content: '\f1e0';
}

body.scheme-teal a.control.primary, body.scheme-teal button.control.primary, body.scheme-teal input[type='button'].primary {
	background-color: #16a085;
}
body.scheme-green a.control.primary, body.scheme-green button.control.primary, body.scheme-green input[type='button'].primary {
	background-color: #27ae60;
}
body.scheme-blue a.control.primary, body.scheme-blue button.control.primary, body.scheme-blue input[type='button'].primary {
	background-color: #2980b9;
}
body.scheme-lightblue a.control.primary, body.scheme-lightblue button.control.primary, body.scheme-lightblue input[type='button'].primary {
	background-color: #03a9f4;
}
body.scheme-cyan a.control.primary, body.scheme-cyan button.control.primary, body.scheme-cyan input[type='button'].primary {
	background-color: #00bcd4;
}
body.scheme-magenta a.control.primary, body.scheme-magenta button.control.primary, body.scheme-magenta input[type='button'].primary {
	background-color: #8e44ad;
}
body.scheme-purple a.control.primary, body.scheme-purple button.control.primary, body.scheme-purple input[type='button'].primary {
	background-color: #9c27b0;
}
body.scheme-pink a.control.primary, body.scheme-pink button.control.primary, body.scheme-pink input[type='button'].primary {
	background-color: #e91e63;
}
body.scheme-dark a.control.primary, body.scheme-dark button.control.primary, body.scheme-dark input[type='button'].primary {
	background-color: #2c3e50;
}
body.scheme-yellow a.control.primary, body.scheme-yellow button.control.primary, body.scheme-yellow input[type='button'].primary {
	background-color: #f1c40f;
}
body.scheme-orange a.control.primary, body.scheme-orange button.control.primary, body.scheme-orange input[type='button'].primary {
	background-color: #d35400;
}
body.scheme-red a.control.primary, body.scheme-red button.control.primary, body.scheme-red input[type='button'].primary {
	background-color: #c0392b;
}
body.scheme-lightgrey a.control.primary, body.scheme-lightgrey button.control.primary, body.scheme-lightgrey input[type='button'].primary {
	background-color: #bdc3c7;
}
body.scheme-grey a.control.primary, body.scheme-grey button.control.primary, body.scheme-grey input[type='button'].primary {
	background-color: #7f8c8d;
}
body.scheme-white a.control.primary, body.scheme-white button.control.primary, body.scheme-white input[type='button'].primary {
	background-color: #fff;
}