input.control[type="checkbox"], input.control[type="radio"] {
    visibility: hidden;
    position: absolute;
    top: -9999px;
    left: -9999px;
    height: 0;
    width: 0;
}
input.control.block[type="checkbox"] + label, input.control.block[type="radio"] + label {
	display: block;
    font-weight: normal;
}

input.control[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, input.control[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: 3px 6px 0 0;
    vertical-align: middle;
    cursor: pointer;
    margin-bottom: 7px;
    font-family: FontAwesome;
    color: #fff;
    padding: 0 1px 1px 2px;
    font-size: 13px;
    background-color: #DBDBDB !important;
    border: solid thin rgba(0,0,0,0.15);
    /*box-shadow: inset 0 2px 3px rgba(0,0,0,0.1);*/
 	transition: all 0.05s ease;
}
input.control[type="checkbox"]:not(.slide):not(.slide2):not(.yesno)[class*='white'] + label span, input.control[type="radio"]:not(.slide):not(.slide2):not(.yesno)[class*='white'] + label span {
    color: #333;
}

input.control.teal[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, input.control.teal[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    background-color: #16a085 !important;
}

input.control.green[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, input.control.green[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    background-color: #27ae60 !important;
}

input.control.blue[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, input.control.blue[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    background-color: #2980b9 !important;
}

input.control.lightblue[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, input.control.lightblue[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    background-color: #03a9f4 !important;
}

input.control.cyan[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, input.control.cyan[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    background-color: #00bcd4 !important;
}

input.control.magenta[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, input.control.magenta[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    background-color: #8e44ad !important;
}

input.control.purple[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, input.control.purple[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    background-color: #9c27b0 !important;
}

input.control.pink[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, input.control.pink[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    background-color: #e91e63 !important;
}

input.control.dark[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, input.control.dark[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    background-color: #2c3e50 !important;
}

input.control.yellow[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, input.control.yellow[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    background-color: #f1c40f !important;
}

input.control.orange[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, input.control.orange[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    background-color: #d35400 !important;
}

input.control.red[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, input.control.red[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    background-color: #c0392b !important;
}

input.control.grey[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, input.control.grey[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    background-color: #7f8c8d !important;
}

input.control.lightgrey[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, input.control.lightgrey[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    background-color: #bdc3c7 !important;
}

input.control.white[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, input.control.white[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    background-color: #fff !important;
}



body.scheme-teal input.control.primary[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, body.scheme-teal input.control.primary[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    background-color: #16a085 !important;
}
body.scheme-green input.control.primary[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, body.scheme-green input.control.primary[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    background-color: #27ae60 !important;
}
body.scheme-blue input.control.primary[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, body.scheme-blue input.control.primary[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    background-color: #2980b9 !important;
}
body.scheme-lightblue input.control.primary[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, body.scheme-lightblue input.control.primary[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    background-color: #03a9f4 !important;
}
body.scheme-cyan input.control.primary[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, body.scheme-cyan input.control.primary[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    background-color: #00bcd4 !important;
}
body.scheme-magenta input.control.primary[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, body.scheme-magenta input.control.primary[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    background-color: #8e44ad !important;
}
body.scheme-purple input.control.primary[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, body.scheme-purple input.control.primary[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    background-color: #9c27b0 !important;
}
body.scheme-pink input.control.primary[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, body.scheme-pink input.control.primary[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    background-color: #e91e63 !important;
}
body.scheme-dark input.control.primary[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, body.scheme-dark input.control.primary[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    background-color: #2c3e50 !important;
}
body.scheme-yellow input.control.primary[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, body.scheme-yellow input.control.primary[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    background-color: #f1c40f !important;
}
body.scheme-orange input.control.primary[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, body.scheme-orange input.control.primary[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    background-color: #d35400 !important;
}
body.scheme-red input.control.primary[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, body.scheme-red input.control.primary[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    background-color: #c0392b !important;
}
body.scheme-lightgrey input.control.primary[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, body.scheme-lightgrey input.control.primary[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    background-color: #bdc3c7 !important;
}
body.scheme-grey input.control.primary[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, body.scheme-grey input.control.primary[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    background-color: #7f8c8d !important;
}
body.scheme-white input.control.primary[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, body.scheme-white input.control.primary[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
    background-color: #fff !important;
}


input.control[type="checkbox"]:not(.slide):not(.slide2):not(.yesno):not(.disabled) + label:hover span, input.control[type="radio"]:not(.slide):not(.slide2):not(.yesno):not(.disabled) + label:hover span {
	background: rgba(0,0,0,0.1);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.1)), color-stop(100%, rgba(0,0,0,0.1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

input.control.rounded[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, input.control.rounded[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
	border-radius: 3px;
}
input.control.circle[type="checkbox"]:not(.slide):not(.slide2):not(.yesno) + label span, input.control.circle[type="radio"]:not(.slide):not(.slide2):not(.yesno) + label span {
	border-radius: 50%;
}

input.control[type="checkbox"]:not(.slide):not(.slide2):not(.yesno):checked + label, input.control[type="radio"]:not(.slide):not(.slide2):not(.yesno):checked + label {
    font-weight: 600;
}

input.control[type="checkbox"]:not(.slide):not(.slide2):not(.yesno):checked + label span, input.control[type="radio"]:not(.slide):not(.slide2):not(.yesno):checked + label span {
    background: rgba(0,0,0,0.2);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.2)), color-stop(100%, rgba(0,0,0,0.2)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

input.control[type="checkbox"]:not([data-icon]):not(.slide):not(.slide2):not(.yesno):checked + label span:before, input.control[type="radio"]:not([data-icon]):not(.slide):not(.slide2):not(.yesno):checked + label span:before {
    content: "\f00c";
}
input.control[type="checkbox"][data-icon]:not(.slide):not(.slide2):not(.yesno):checked + label span:before, input.control[type="radio"][data-icon]:not(.slide):not(.slide2):not(.yesno):checked + label span:before {
    content: attr(data-icon);
    font-weight: normal;
    font-size: 12px;
}
input.control.box[type="checkbox"]:not(.slide):not(.slide2):not(.yesno):checked + label span:before, input.control.box[type="radio"]:not(.slide):not(.slide2):not(.yesno):checked + label span:before {
	display: block;
    content: "";
    width: calc(100% - 3px);
    height: calc(100% - 5px);
    margin: 3px 2px 2px 1px;
    background-color: #fff;
}
input.control.box.rounded[type="checkbox"]:not(.slide):not(.slide2):not(.yesno):checked + label span:before, input.control.box.rounded[type="radio"]:not(.slide):not(.slide2):not(.yesno):checked + label span:before {
	display: block;
    content: "";
    width: calc(100% - 3px);
    height: calc(100% - 5px);
    margin: 3px 2px 2px 1px;
    background-color: #fff;
    border-radius: 3px;
}
input.control.box.circle[type="checkbox"]:not(.slide):not(.slide2):not(.yesno):not(.disabled):checked + label span:before, input.control.box.circle[type="radio"]:not(.slide):not(.slide2):not(.yesno):not(.disabled):checked + label span:before {
	display: block;
    content: "";
    width: calc(100% - 3px);
    height: calc(100% - 5px);
    margin: 3px 2px 2px 1px;
    background-color: #fff;
    border-radius: 50%;
}

/* SLIDE */

input.control[type="checkbox"][class*='slide']:not(.slide2) + label span, input.control[type="radio"][class*='slide']:not(.slide2) + label span {
    display: inline-block;
    width: 25px;
    height: 6px;
    margin: 4px 6px 0 0;
    vertical-align: middle;
    cursor: pointer;
    margin-bottom: 7px;
    background-color: #fff;
    border: solid thin rgba(0,0,0,0.3);
    border-radius: 10px;
}

input.control[type="checkbox"][class*='slide']:not(.slide2) + label span:before, input.control[type="radio"][class*='slide']:not(.slide2) + label span:before {
    display: block;
    content: "";
    width: 17px;
    height: 17px;
    background-color: #DBDBDB !important;
    border-radius: 50%;
    margin: -7px 0 0 -2px;
    border: solid thin rgba(0,0,0,0.15);
    transition: all 0.1s ease;
}
input.control.teal[type="checkbox"][class*='slide']:not(.slide2) + label span:before, input.control.teal[type="radio"][class*='slide']:not(.slide2) + label span {
    background-color: #16a085 !important;
}

input.control.green[type="checkbox"][class*='slide']:not(.slide2) + label span:before, input.control.green[type="radio"][class*='slide']:not(.slide2) + label span:before {
    background-color: #27ae60 !important;
}

input.control.blue[type="checkbox"][class*='slide']:not(.slide2) + label span:before, input.control.blue[type="radio"][class*='slide']:not(.slide2) + label span:before {
    background-color: #2980b9 !important;
}

input.control.lightblue[type="checkbox"][class*='slide']:not(.slide2) + label span:before, input.control.lightblue[type="radio"][class*='slide']:not(.slide2) + label span:before {
    background-color: #03a9f4 !important;
}

input.control.cyan[type="checkbox"][class*='slide']:not(.slide2) + label span:before, input.control.cyan[type="radio"][class*='slide']:not(.slide2) + label span:before {
    background-color: #00bcd4 !important;
}

input.control.magenta[type="checkbox"][class*='slide']:not(.slide2) + label span:before, input.control.magenta[type="radio"][class*='slide']:not(.slide2) + label span:before {
    background-color: #8e44ad !important;
}

input.control.purple[type="checkbox"][class*='slide']:not(.slide2) + label span:before, input.control.purple[type="radio"][class*='slide']:not(.slide2) + label span:before {
    background-color: #9c27b0 !important;
}

input.control.pink[type="checkbox"][class*='slide']:not(.slide2) + label span:before, input.control.pink[type="radio"][class*='slide']:not(.slide2) + label span:before {
    background-color: #e91e63 !important;
}

input.control.yellow[type="checkbox"][class*='slide']:not(.slide2) + label span:before, input.control.yellow[type="radio"][class*='slide']:not(.slide2) + label span:before {
    background-color: #f1c40f !important;
}

input.control.orange[type="checkbox"][class*='slide']:not(.slide2) + label span:before, input.control.orange[type="radio"][class*='slide']:not(.slide2) + label span:before {
    background-color: #d35400 !important;
}

input.control.red[type="checkbox"][class*='slide']:not(.slide2) + label span:before, input.control.red[type="radio"][class*='slide']:not(.slide2) + label span:before {
    background-color: #c0392b !important;
}


body.scheme-teal input.control.primary[type="checkbox"][class*='slide']:not(.slide2) + label span:before, body.scheme-teal input.control.primary[type="radio"][class*='slide']:not(.slide2) + label span:before {
    background-color: #16a085 !important;
}
body.scheme-green input.control.primary[type="checkbox"][class*='slide']:not(.slide2) + label span:before, body.scheme-green input.control.primary[type="radio"][class*='slide']:not(.slide2) + label span:before {
    background-color: #27ae60 !important;
}
body.scheme-blue input.control.primary[type="checkbox"][class*='slide']:not(.slide2) + label span:before, body.scheme-blue input.control.primary[type="radio"][class*='slide']:not(.slide2) + label span:before {
    background-color: #2980b9 !important;
}
body.scheme-lightblue input.control.primary[type="checkbox"][class*='slide']:not(.slide2) + label span:before, body.scheme-lightblue input.control.primary[type="radio"][class*='slide']:not(.slide2) + label span:before {
    background-color: #03a9f4 !important;
}
body.scheme-cyan input.control.primary[type="checkbox"][class*='slide']:not(.slide2) + label span:before, body.scheme-cyan input.control.primary[type="radio"][class*='slide']:not(.slide2) + label span:before {
    background-color: #00bcd4 !important;
}
body.scheme-magenta input.control.primary[type="checkbox"][class*='slide']:not(.slide2) + label span:before, body.scheme-magenta input.control.primary[type="radio"][class*='slide']:not(.slide2) + label span:before {
    background-color: #8e44ad !important;
}
body.scheme-purple input.control.primary[type="checkbox"][class*='slide']:not(.slide2) + label span:before, body.scheme-purple input.control.primary[type="radio"][class*='slide']:not(.slide2) + label span:before {
    background-color: #9c27b0 !important;
}
body.scheme-pink input.control.primary[type="checkbox"][class*='slide']:not(.slide2) + label span:before, body.scheme-pink input.control.primary[type="radio"][class*='slide']:not(.slide2) + label span:before {
    background-color: #e91e63 !important;
}
body.scheme-dark input.control.primary[type="checkbox"][class*='slide']:not(.slide2) + label span:before, body.scheme-dark input.control.primary[type="radio"][class*='slide']:not(.slide2) + label span:before {
    background-color: #2c3e50 !important;
}
body.scheme-yellow input.control.primary[type="checkbox"][class*='slide']:not(.slide2) + label span:before, body.scheme-yellow input.control.primary[type="radio"][class*='slide']:not(.slide2) + label span:before {
    background-color: #f1c40f !important;
}
body.scheme-orange input.control.primary[type="checkbox"][class*='slide']:not(.slide2) + label span:before, body.scheme-orange input.control.primary[type="radio"][class*='slide']:not(.slide2) + label span:before {
    background-color: #d35400 !important;
}
body.scheme-red input.control.primary[type="checkbox"][class*='slide']:not(.slide2) + label span:before, body.scheme-red input.control.primary[type="radio"][class*='slide']:not(.slide2) + label span:before {
    background-color: #c0392b !important;
}
body.scheme-lightgrey input.control.primary[type="checkbox"][class*='slide']:not(.slide2) + label span:before, body.scheme-lightgrey input.control.primary[type="radio"][class*='slide']:not(.slide2) + label span:before {
    background-color: #bdc3c7 !important;
}
body.scheme-grey input.control.primary[type="checkbox"][class*='slide']:not(.slide2) + label span:before, body.scheme-grey input.control.primary[type="radio"][class*='slide']:not(.slide2) + label span:before {
    background-color: #7f8c8d !important;
}
body.scheme-white input.control.primary[type="checkbox"][class*='slide']:not(.slide2) + label span:before, body.scheme-white input.control.primary[type="radio"][class*='slide']:not(.slide2) + label span:before {
    background-color: #fff !important;
}


input.control[type="checkbox"][class*='slide']:not(.slide2):not(.disabled):checked + label span:before, input.control[type="radio"][class*='slide']:not(.slide2):not(.disabled):checked + label span:before {
    margin: -7px 0 0 10px;
}
input.control[type="checkbox"][class*='slide']:not(.slide2):not(.disabled):checked + label, input.control[type="radio"][class*='slide']:not(.slide2):not(.disabled):checked + label {
    font-weight: 600;
}
input.control[type="checkbox"][class*='slide']:not(.slide2):not(.disabled) + label:hover span:before, input.control[type="radio"][class*='slide']:not(.slide2):not(.disabled) + label:hover span:before {
    background: rgba(0,0,0,0.1);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.1)), color-stop(100%, rgba(0,0,0,0.1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

input.control[type="checkbox"][class*='slide']:not(.slide2):not(.disabled):checked + label span:before, input.control[type="radio"][class*='slide']:not(.slide2):not(.disabled):checked + label span:before {
    background: rgba(0,0,0,0.2);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.2)), color-stop(100%, rgba(0,0,0,0.2)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

/* SLIDE2 */

input.control[type="checkbox"][class*='slide2'] + label span, input.control[type="radio"][class*='slide2'] + label span {
    display: inline-block;
    width: 40px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
    margin: 0 6px 7px 0;
    background-color: #fff;
    border: solid thin rgba(0,0,0,0.3);
    border-radius: 16px;
}

input.control[type="checkbox"][class*='slide2'] + label span:before, input.control[type="radio"][class*='slide2'] + label span:before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    margin: -1px 0 0 -1px;
    background-color: #DBDBDB !important;
    border-radius: 50%;
    border: solid thin rgba(0,0,0,0.15);
    transition: all 0.1s ease;
}
input.control.teal[type="checkbox"][class*='slide2'] + label span:before, input.control.teal[type="radio"][class*='slide2'] + label span {
    background-color: #16a085 !important;
}

input.control.green[type="checkbox"][class*='slide2'] + label span:before, input.control.green[type="radio"][class*='slide2'] + label span:before {
    background-color: #27ae60 !important;
}

input.control.blue[type="checkbox"][class*='slide2'] + label span:before, input.control.blue[type="radio"][class*='slide2'] + label span:before {
    background-color: #2980b9 !important;
}

input.control.lightblue[type="checkbox"][class*='slide2'] + label span:before, input.control.lightblue[type="radio"][class*='slide2'] + label span:before {
    background-color: #03a9f4 !important;
}

input.control.cyan[type="checkbox"][class*='slide2'] + label span:before, input.control.cyan[type="radio"][class*='slide2'] + label span:before {
    background-color: #00bcd4 !important;
}

input.control.magenta[type="checkbox"][class*='slide2'] + label span:before, input.control.magenta[type="radio"][class*='slide2'] + label span:before {
    background-color: #8e44ad !important;
}

input.control.purple[type="checkbox"][class*='slide2'] + label span:before, input.control.purple[type="radio"][class*='slide2'] + label span:before {
    background-color: #9c27b0 !important;
}

input.control.pink[type="checkbox"][class*='slide2'] + label span:before, input.control.pink[type="radio"][class*='slide2'] + label span:before {
    background-color: #e91e63 !important;
}

input.control.yellow[type="checkbox"][class*='slide2'] + label span:before, input.control.yellow[type="radio"][class*='slide2'] + label span:before {
    background-color: #f1c40f !important;
}

input.control.orange[type="checkbox"][class*='slide2'] + label span:before, input.control.orange[type="radio"][class*='slide2'] + label span:before {
    background-color: #d35400 !important;
}

input.control.red[type="checkbox"][class*='slide2'] + label span:before, input.control.red[type="radio"][class*='slide2'] + label span:before {
    background-color: #c0392b !important;
}


body.scheme-teal input.control.primary[type="checkbox"][class*='slide2'] + label span:before, body.scheme-teal input.control.primary[type="radio"][class*='slide2'] + label span:before {
    background-color: #16a085 !important;
}
body.scheme-green input.control.primary[type="checkbox"][class*='slide2'] + label span:before, body.scheme-green input.control.primary[type="radio"][class*='slide2'] + label span:before {
    background-color: #27ae60 !important;
}
body.scheme-blue input.control.primary[type="checkbox"][class*='slide2'] + label span:before, body.scheme-blue input.control.primary[type="radio"][class*='slide2'] + label span:before {
    background-color: #2980b9 !important;
}
body.scheme-lightblue input.control.primary[type="checkbox"][class*='slide2'] + label span:before, body.scheme-lightblue input.control.primary[type="radio"][class*='slide2'] + label span:before {
    background-color: #03a9f4 !important;
}
body.scheme-cyan input.control.primary[type="checkbox"][class*='slide2'] + label span:before, body.scheme-cyan input.control.primary[type="radio"][class*='slide2'] + label span:before {
    background-color: #00bcd4 !important;
}
body.scheme-magenta input.control.primary[type="checkbox"][class*='slide2'] + label span:before, body.scheme-magenta input.control.primary[type="radio"][class*='slide2'] + label span:before {
    background-color: #8e44ad !important;
}
body.scheme-purple input.control.primary[type="checkbox"][class*='slide2'] + label span:before, body.scheme-purple input.control.primary[type="radio"][class*='slide2'] + label span:before {
    background-color: #9c27b0 !important;
}
body.scheme-pink input.control.primary[type="checkbox"][class*='slide2'] + label span:before, body.scheme-pink input.control.primary[type="radio"][class*='slide2'] + label span:before {
    background-color: #e91e63 !important;
}
body.scheme-dark input.control.primary[type="checkbox"][class*='slide2'] + label span:before, body.scheme-dark input.control.primary[type="radio"][class*='slide2'] + label span:before {
    background-color: #2c3e50 !important;
}
body.scheme-yellow input.control.primary[type="checkbox"][class*='slide2'] + label span:before, body.scheme-yellow input.control.primary[type="radio"][class*='slide2'] + label span:before {
    background-color: #f1c40f !important;
}
body.scheme-orange input.control.primary[type="checkbox"][class*='slide2'] + label span:before, body.scheme-orange input.control.primary[type="radio"][class*='slide2'] + label span:before {
    background-color: #d35400 !important;
}
body.scheme-red input.control.primary[type="checkbox"][class*='slide2'] + label span:before, body.scheme-red input.control.primary[type="radio"][class*='slide2'] + label span:before {
    background-color: #c0392b !important;
}
body.scheme-lightgrey input.control.primary[type="checkbox"][class*='slide2'] + label span:before, body.scheme-lightgrey input.control.primary[type="radio"][class*='slide2'] + label span:before {
    background-color: #bdc3c7 !important;
}
body.scheme-grey input.control.primary[type="checkbox"][class*='slide2'] + label span:before, body.scheme-grey input.control.primary[type="radio"][class*='slide2'] + label span:before {
    background-color: #7f8c8d !important;
}
body.scheme-white input.control.primary[type="checkbox"][class*='slide2'] + label span:before, body.scheme-white input.control.primary[type="radio"][class*='slide2'] + label span:before {
    background-color: #fff !important;
}


input.control[type="checkbox"][class*='slide2']:not(.disabled):checked + label span:before, input.control[type="radio"][class*='slide2']:not(.disabled):checked + label span:before {
    margin: -1px 0 0 19px;
}
input.control[type="checkbox"][class*='slide2']:not(.disabled):checked + label, input.control[type="radio"][class*='slide2']:not(.disabled):checked + label {
    font-weight: 600;
}
input.control[type="checkbox"][class*='slide2']:not(.disabled) + label:hover span:before, input.control[type="radio"][class*='slide2']:not(.disabled) + label:hover span:before {
    background: rgba(0,0,0,0.1);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.1)), color-stop(100%, rgba(0,0,0,0.1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

input.control[type="checkbox"][class*='slide2']:not(.disabled):checked + label span:before, input.control[type="radio"][class*='slide2']:not(.disabled):checked + label span:before {
    background: rgba(0,0,0,0.2);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.2)), color-stop(100%, rgba(0,0,0,0.2)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

/* YES NO */

input.control[type="checkbox"][class*='yesno'] + label span, input.control[type="radio"][class*='yesno'] + label span {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 19px;
    margin: 4px 6px 0 0;
    vertical-align: middle;
    cursor: pointer;
    margin-bottom: 7px;
    background-color: #fff !important;
    border: solid thin rgba(0,0,0,0.15);
}
input.control.rounded[type="checkbox"][class*='yesno'] + label span, input.control.rounded[type="radio"][class*='yesno'] + label span {
    border-radius: 10px;
}
input.control[type="checkbox"][class*='yesno'] + label span:before, input.control[type="radio"][class*='yesno'] + label span:before {
    position: relative;
    display: block;
    content: "";
    width: 13px;
    height: 13px;
    background-color: #B84141 !important;
    margin: 2px;
    z-index: 2;
    transition: all 0.1s ease;
}
input.control.rounded[type="checkbox"][class*='yesno'] + label span:before, input.control.rounded[type="radio"][class*='yesno'] + label span:before {
    border-radius: 10px;
}
input.control[type="checkbox"][class*='yesno'] + label span:after, input.control[type="radio"][class*='yesno'] + label span:after {
    position: absolute;
    top: 1px;
    left: 20px;
    content: "NO";
    color: #B84141;
    font-size: 12px;
    font-weight: bold;
    z-index: 1;
    transition: all 0.1s ease;
}
input.control.rounded[type="checkbox"][class*='yesno'] + label span:after, input.control.rounded[type="radio"][class*='yesno'] + label span:after {
    border-radius: 10px;
}

input.control[type="checkbox"][class*='yesno']:not(.disabled) + label:hover span, input.control[type="radio"][class*='yesno']:not(.disabled) + label:hover span {
    background: rgba(255,255,255,0.1);
    background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.1)), color-stop(100%, rgba(255,255,255,0.1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

input.control[type="checkbox"][class*='yesno']:not(.disabled):checked + label, input.control[type="radio"][class*='yesno']:not(.disabled):checked + label {
    font-weight: 600;
}

input.control[type="checkbox"][class*='yesno']:not(.disabled):checked + label span:before, input.control[type="radio"][class*='yesno']:not(.disabled):checked + label span:before {
    background-color: #3C9F40 !important;
    margin: 2px 2px 2px 26px;
}
input.control[type="checkbox"][class*='yesno']:not(.disabled):checked + label span:after, input.control[type="radio"][class*='yesno']:not(.disabled):checked + label span:after {
    top: 2px;   
    left: 3px;
    content: "YES";
    color: #3C9F40;
    font-size: 11px;
}
input.control.rounded[type="checkbox"][class*='yesno']:not(.disabled):checked + label span:after, input.control.rounded[type="radio"][class*='yesno']:not(.disabled):checked + label span:after {
    left: 4px;
}