div.panel {
	padding: 15px;
	background: #F4F4F4 !important;
	border: solid thin rgba(0,0,0,0.13);
	border-radius: 0;
}

div.panel.rounded {
	border-radius: 3px;
}

div.panel .panel-title {
	background: rgba(0,0,0,0.5);
	color: #fff !important;
	padding: 15px;
	margin: -16px -16px 15px -16px;
	font-weight: bold;
}
div.panel .panel-title:after {
	content: "";
	display: table;
	clear: both;
}
div.panel[class*='rounded'] .panel-title {
	border-radius: 3px 3px 0 0;
}

div.panel .panel-title i.fa {
	margin-right: 5px;
}

div.panel .panel-controls {
	float: right;
	margin: 3px 5px 0 0;
}
div.panel .panel-controls i {
	float: right;
	opacity: 0.7;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	cursor: pointer;
	margin-left: 5px;
	transition: all 0.1s ease;
}
div.panel .panel-controls .close-panel {
	font-size: 24px;
	margin-top: -9px;
}
div.panel .panel-controls i:hover {
	opacity: 1;
}

div.panel.white {
	border-color: #DADADA;
	background: #fff !important;
}

div.panel.teal {
	border-color: #16a085;
}

div.panel.green {
	border-color: #27ae60;
}

div.panel.blue {
	border-color: #2980b9;
}

div.panel.lightblue {
	border-color: #03a9f4;
}

div.panel.cyan {
	border-color: #00bcd4;
}

div.panel.magenta {
	border-color: #8e44ad;
}

div.panel.purple {
	border-color: #9c27b0;
}

div.panel.pink {
	border-color: #e91e63;
}

div.panel.dark {
	border-color: #2c3e50;
}

div.panel.yellow {
	border-color: #f1c40f;
	color: #1f1f1f;
}

div.panel.orange {
	border-color: #d35400;
}

div.panel.red {
	border-color: #c0392b;
}


body.scheme-teal div.panel.primary {
	border-color: #16a085;
}
body.scheme-green div.panel.primary {
	border-color: #27ae60;
}
body.scheme-blue div.panel.primary {
	border-color: #2980b9;
}
body.scheme-lightblue div.panel.primary {
	border-color: #03a9f4;
}
body.scheme-cyan div.panel.primary {
	border-color: #00bcd4;
}
body.scheme-magenta div.panel.primary {
	border-color: #8e44ad;
}
body.scheme-purple div.panel.primary {
	border-color: #9c27b0;
}
body.scheme-pink div.panel.primary {
	border-color: #e91e63;
}
body.scheme-dark div.panel.primary {
	border-color: #2c3e50;
}
body.scheme-yellow div.panel.primary {
	border-color: #f1c40f;
}
body.scheme-orange div.panel.primary {
	border-color: #d35400;
}
body.scheme-red div.panel.primary {
	border-color: #c0392b;
}
body.scheme-lightgrey div.panel.primary {
	border-color: #bdc3c7;
}
body.scheme-grey div.panel.primary {
	border-color: #7f8c8d;
}
body.scheme-white div.panel.primary {
	border-color: #fff;
}


div.panel.teal:not([data-title]):not(.title-transparent), div.panel.teal.title-transparent, div.panel.teal.title-transparent .panel-title, div.panel.teal.title-transparent .panel-title i {
	background: #16a085 !important;
	color: #fff !important;
}

div.panel.green:not([data-title]):not(.title-transparent), div.panel.green.title-transparent, div.panel.green.title-transparent .panel-title, div.panel.green.title-transparent .panel-title i {
	background: #27ae60 !important;
	color: #fff !important;
}

div.panel.blue:not([data-title]):not(.title-transparent), div.panel.blue.title-transparent, div.panel.blue.title-transparent .panel-title, div.panel.blue.title-transparent .panel-title i {
	background: #2980b9 !important;
	color: #fff !important;
}

div.panel.lightblue:not([data-title]):not(.title-transparent), div.panel.lightblue.title-transparent, div.panel.lightblue.title-transparent .panel-title, div.panel.lightblue.title-transparent .panel-title i {
	background: #03a9f4 !important;
}

div.panel.cyan:not([data-title]):not(.title-transparent), div.panel.cyan.title-transparent, div.panel.cyan.title-transparent .panel-title, div.panel.cyan.title-transparent .panel-title i {
	background: #2980b9 !important;
}

div.panel.magenta:not([data-title]):not(.title-transparent), div.panel.magenta.title-transparent, div.panel.magenta.title-transparent .panel-title, div.panel.magenta.title-transparent .panel-title i {
	background: #8e44ad !important;
	color: #fff !important;
}

div.panel.purple:not([data-title]):not(.title-transparent), div.panel.purple.title-transparent, div.panel.purple.title-transparent .panel-title, div.panel.purple.title-transparent .panel-title i {
	background: #9c27b0 !important;
	color: #fff !important;
}

div.panel.pink:not([data-title]):not(.title-transparent), div.panel.pink.title-transparent, div.panel.pink.title-transparent .panel-title, div.panel.pink.title-transparent .panel-title i {
	background: #e91e63 !important;
	color: #fff !important;
}

div.panel.dark:not([data-title]):not(.title-transparent), div.panel.dark.title-transparent, div.panel.dark.title-transparent .panel-title, div.panel.dark.title-transparent .panel-title i {
	background: #2c3e50 !important;
	color: #fff !important;
}

div.panel.yellow:not([data-title]):not(.title-transparent), div.panel.yellow.title-transparent, div.panel.yellow.title-transparent .panel-title, div.panel.yellow.title-transparent .panel-title i {
	background: #f1c40f !important;
	color: #1f1f1f !important;
}

div.panel.orange:not([data-title]):not(.title-transparent), div.panel.orange.title-transparent, div.panel.orange.title-transparent .panel-title, div.panel.orange.title-transparent .panel-title i {
	background: #d35400 !important;
	color: #fff !important;
}

div.panel.red:not([data-title]):not(.title-transparent), div.panel.red.title-transparent, div.panel.red.title-transparent .panel-title, div.panel.red.title-transparent .panel-title i {
	background: #c0392b !important;
	color: #fff !important;
}


body.scheme-teal div.panel.primary:not([data-title]):not(.title-transparent), body.scheme-teal div.panel.primary.title-transparent, body.scheme-teal div.panel.primary.title-transparent .panel-title, body.scheme-teal div.panel.primary.title-transparent .panel-title i {
	background: #16a085 !important;
	color: #fff !important;
}
body.scheme-green div.panel.primary:not([data-title]):not(.title-transparent), body.scheme-green div.panel.primary.title-transparent, body.scheme-green div.panel.primary.title-transparent .panel-title, body.scheme-green div.panel.primary.title-transparent .panel-title i {
	background: #27ae60 !important;
	color: #fff !important;
}
body.scheme-blue div.panel.primary:not([data-title]):not(.title-transparent), body.scheme-blue div.panel.primary.title-transparent, body.scheme-blue div.panel.primary.title-transparent .panel-title, body.scheme-blue div.panel.primary.title-transparent .panel-title i {
	background: #2980b9 !important;
	color: #fff !important;
}
body.scheme-lightblue div.panel.primary:not([data-title]):not(.title-transparent), body.scheme-lightblue div.panel.primary.title-transparent, body.scheme-lightblue div.panel.primary.title-transparent .panel-title, body.scheme-lightblue div.panel.primary.title-transparent .panel-title i {
	background: #03a9f4 !important;
	color: #fff !important;
}
body.scheme-cyan div.panel.primary:not([data-title]):not(.title-transparent), body.scheme-cyan div.panel.primary.title-transparent, body.scheme-cyan div.panel.primary.title-transparent .panel-title, body.scheme-cyan div.panel.primary.title-transparent .panel-title i {
	background: #00bcd4 !important;
	color: #fff !important;
}
body.scheme-magenta div.panel.primary:not([data-title]):not(.title-transparent), body.scheme-magenta div.panel.primary.title-transparent, body.scheme-magenta div.panel.primary.title-transparent .panel-title, body.scheme-magenta div.panel.primary.title-transparent .panel-title i {
	background: #8e44ad !important;
	color: #fff !important;
}
body.scheme-purple div.panel.primary:not([data-title]):not(.title-transparent), body.scheme-purple div.panel.primary.title-transparent, body.scheme-purple div.panel.primary.title-transparent .panel-title, body.scheme-purple div.panel.primary.title-transparent .panel-title i {
	background: #9c27b0 !important;
	color: #fff !important;
}
body.scheme-pink div.panel.primary:not([data-title]):not(.title-transparent), body.scheme-pink div.panel.primary.title-transparent, body.scheme-pink div.panel.primary.title-transparent .panel-title, body.scheme-pink div.panel.primary.title-transparent .panel-title i {
	background: #e91e63 !important;
	color: #fff !important;
}
body.scheme-dark div.panel.primary:not([data-title]):not(.title-transparent), body.scheme-dark div.panel.primary.title-transparent, body.scheme-dark div.panel.primary.title-transparent .panel-title, body.scheme-dark div.panel.primary.title-transparent .panel-title i {
	background: #2c3e50 !important;
	color: #fff !important;
}
body.scheme-yellow div.panel.primary:not([data-title]):not(.title-transparent), body.scheme-yellow div.panel.primary.title-transparent, body.scheme-yellow div.panel.primary.title-transparent .panel-title, body.scheme-yellow div.panel.primary.title-transparent .panel-title i {
	background: #f1c40f !important;
}
body.scheme-orange div.panel.primary:not([data-title]):not(.title-transparent), body.scheme-orange div.panel.primary.title-transparent, body.scheme-orange div.panel.primary.title-transparent .panel-title, body.scheme-orange div.panel.primary.title-transparent .panel-title i {
	background: #d35400 !important;
	color: #fff !important;
}
body.scheme-red div.panel.primary:not([data-title]):not(.title-transparent), body.scheme-red div.panel.primary.title-transparent, body.scheme-red div.panel.primary.title-transparent .panel-title, body.scheme-red div.panel.primary.title-transparent .panel-title i {
	background: #c0392b !important;
	color: #fff !important;
}
body.scheme-lightgrey div.panel.primary:not([data-title]):not(.title-transparent), body.scheme-lightgrey div.panel.primary.title-transparent, body.scheme-lightgrey div.panel.primary.title-transparent .panel-title, body.scheme-lightgrey div.panel.primary.title-transparent .panel-title i {
	background: #bdc3c7 !important;
}
body.scheme-grey div.panel.primary:not([data-title]):not(.title-transparent), body.scheme-grey div.panel.primary.title-transparent, body.scheme-grey div.panel.primary.title-transparent .panel-title, body.scheme-grey div.panel.primary.title-transparent .panel-title i {
	background: #7f8c8d !important;
	color: #fff !important;
}
body.scheme-white div.panel.primary:not([data-title]):not(.title-transparent), body.scheme-white div.panel.primary.title-transparent, body.scheme-white div.panel.primary.title-transparent .panel-title, body.scheme-white div.panel.primary.title-transparent .panel-title i {
	background: #fff !important;
}


div.panel.teal .panel-title {
	background: #16a085;
}

div.panel.green .panel-title {
	background: #27ae60;
}

div.panel.blue .panel-title {
	background: #2980b9;
}

div.panel.lightblue .panel-title {
	background: #03a9f4;
}

div.panel.cyan .panel-title {
	background: #00bcd4;
}

div.panel.magenta .panel-title {
	background: #8e44ad;
}

div.panel.purple .panel-title {
	background: #9c27b0;
}

div.panel.pink .panel-title {
	background: #e91e63;
}

div.panel.dark .panel-title {
	background: #2c3e50;
}

div.panel.yellow .panel-title {
	background: #f1c40f;
	color: #1f1f1f;
}

div.panel.orange .panel-title {
	background: #d35400;
}

div.panel.red .panel-title {
	background: #c0392b;
}


body.scheme-teal div.panel.primary .panel-title {
	background: #16a085 !important;
}
body.scheme-green div.panel.primary .panel-title {
	background: #27ae60 !important;
}
body.scheme-blue div.panel.primary .panel-title {
	background: #2980b9 !important;
}
body.scheme-lightblue div.panel.primary .panel-title {
	background: #03a9f4 !important;
}
body.scheme-cyan div.panel.primary .panel-title {
	background: #00bcd4 !important;
}
body.scheme-magenta div.panel.primary .panel-title {
	background: #8e44ad !important;
}
body.scheme-purple div.panel.primary .panel-title {
	background: #9c27b0 !important;
}
body.scheme-pink div.panel.primary .panel-title {
	background: #e91e63 !important;
}
body.scheme-dark div.panel.primary .panel-title {
	background: #2c3e50 !important;
}
body.scheme-yellow div.panel.primary .panel-title {
	background: #f1c40f !important;
}
body.scheme-orange div.panel.primary .panel-title {
	background: #d35400 !important;
}
body.scheme-red div.panel.primary .panel-title {
	background: #c0392b !important;
}
body.scheme-lightgrey div.panel.primary .panel-title {
	background: #bdc3c7 !important;
}
body.scheme-grey div.panel.primary .panel-title {
	background: #7f8c8d !important;
}
body.scheme-white div.panel.primary .panel-title {
	background: #fff !important;
}


div.panel.title-transparent .panel-title {
	background: rgba(0,0,0,0);
	color: #333 !important;
	border-bottom: solid thin rgba(0,0,0,0.1);
}
div.panel.title-transparent .panel-title i {
	color: #666;
}

div.panel.expanded {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999999;
}

/*div.panel > .container, div.panel > .row {
	overflow: hidden;
}*/