.progress {
    height: 10px;
    margin-bottom: 18px;
    background-color: #EBEBEB;
    box-shadow: none !important;
    box-shadow: none !important;
    overflow: hidden;
}

.progress-bar.white {
    border: solid thin rgba(0,0,0,0.1) !important;
}

.progress-bar {
    font-size: 8px;
    font-weight: 600;
    line-height: 12px;
    box-shadow: none;
}

.progress.progress-sm {
    height: 5px !important;
}

.progress.progress-sm .progress-bar {
    font-size: 8px;
    line-height: 5px;
}

.progress.progress-md {
    height: 15px !important;
}

.progress.progress-md .progress-bar {
    font-size: 10.8px;
    line-height: 14.4px;
}

.progress.progress-lg {
  height: 20px !important;
}

.progress.progress-lg .progress-bar {
    font-size: 12px;
    line-height: 20px;
}

.progress-animated {
    -webkit-animation-duration: 5s;
    -webkit-animation-name: animationProgress;
    -webkit-transition: 5s all;
    animation-duration: 5s;
    animation-name: animationProgress;
    transition: 5s all;
}

.progress-vertical {
    position: relative;
    display: inline-block;
    min-height: 250px;
    height: 250px;
    width: 10px;
    margin-bottom: 0;
    margin-right: 20px;
}

.progress-vertical .progress-bar {
    width: 100%;
}

.progress-vertical-inverted {
    position: relative;
    display: inline-block;
    min-height: 250px;
    height: 250px;
    width: 10px;
    margin-bottom: 0;
    margin-right: 20px;
}

.progress-vertical-inverted .progress-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.progress-vertical.progress-sm, .progress-vertical-inverted.progress-sm {
    width: 5px !important;
}

.progress-vertical.progress-sm .progress-bar, .progress-vertical-inverted.progress-sm .progress-bar {
    font-size: 8px;
    line-height: 5px;
}

.progress-vertical.progress-md, .progress-vertical-inverted.progress-md {
    width: 15px !important;
}

.progress-vertical.progress-md .progress-bar, .progress-vertical-inverted.progress-md .progress-bar {
    font-size: 10.8px;
    line-height: 14.4px;
}

.progress-vertical.progress-lg, .progress-vertical-inverted.progress-lg {
    width: 20px !important;
}

.progress-vertical.progress-lg .progress-bar, .progress-vertical-inverted.progress-lg .progress-bar {
    font-size: 12px;
    line-height: 20px;
}

body.scheme-teal .progress-bar.primary {
    background-color: #16a085 !important;
}
body.scheme-green .progress-bar.primary {
    background-color: #27ae60 !important;
}
body.scheme-blue .progress-bar.primary {
    background-color: #2980b9 !important;
}
body.scheme-lightblue .progress-bar.primary {
    background-color: #03a9f4 !important;
}
body.scheme-cyan .progress-bar.primary {
    background-color: #00bcd4 !important;
}
body.scheme-magenta .progress-bar.primary {
    background-color: #8e44ad !important;
}
body.scheme-purple .progress-bar.primary {
    background-color: #9c27b0 !important;
}
body.scheme-pink .progress-bar.primary {
    background-color: #e91e63 !important;
}
body.scheme-dark .progress-bar.primary {
    background-color: #2c3e50 !important;
}
body.scheme-yellow .progress-bar.primary {
   background-color: #f1c40f !important;
}
body.scheme-orange .progress-bar.primary {
    background-color: #d35400 !important;
}
body.scheme-red .progress-bar.primary {
    background-color: #c0392b !important;
}
body.scheme-lightgrey .progress-bar.primary {
    background-color: #bdc3c7 !important;
}
body.scheme-grey .progress-bar.primary {
    background-color: #7f8c8d !important;
}
body.scheme-white .progress-bar.primary {
    background-color: #fff !important;
    border: solid thin rgba(0,0,0,0.1) !important;
}

/* Circle Progress bar */

.rect-auto,
.progress-circle.p51 .slice,
.progress-circle.p52 .slice,
.progress-circle.p53 .slice,
.progress-circle.p54 .slice,
.progress-circle.p55 .slice,
.progress-circle.p56 .slice,
.progress-circle.p57 .slice,
.progress-circle.p58 .slice,
.progress-circle.p59 .slice,
.progress-circle.p60 .slice,
.progress-circle.p61 .slice,
.progress-circle.p62 .slice,
.progress-circle.p63 .slice,
.progress-circle.p64 .slice,
.progress-circle.p65 .slice,
.progress-circle.p66 .slice,
.progress-circle.p67 .slice,
.progress-circle.p68 .slice,
.progress-circle.p69 .slice,
.progress-circle.p70 .slice,
.progress-circle.p71 .slice,
.progress-circle.p72 .slice,
.progress-circle.p73 .slice,
.progress-circle.p74 .slice,
.progress-circle.p75 .slice,
.progress-circle.p76 .slice,
.progress-circle.p77 .slice,
.progress-circle.p78 .slice,
.progress-circle.p79 .slice,
.progress-circle.p80 .slice,
.progress-circle.p81 .slice,
.progress-circle.p82 .slice,
.progress-circle.p83 .slice,
.progress-circle.p84 .slice,
.progress-circle.p85 .slice,
.progress-circle.p86 .slice,
.progress-circle.p87 .slice,
.progress-circle.p88 .slice,
.progress-circle.p89 .slice,
.progress-circle.p90 .slice,
.progress-circle.p91 .slice,
.progress-circle.p92 .slice,
.progress-circle.p93 .slice,
.progress-circle.p94 .slice,
.progress-circle.p95 .slice,
.progress-circle.p96 .slice,
.progress-circle.p97 .slice,
.progress-circle.p98 .slice,
.progress-circle.p99 .slice,
.progress-circle.p100 .slice {
  clip: rect(auto, auto, auto, auto);
}
.pie,
.progress-circle .bar,
.progress-circle.p51 .fill,
.progress-circle.p52 .fill,
.progress-circle.p53 .fill,
.progress-circle.p54 .fill,
.progress-circle.p55 .fill,
.progress-circle.p56 .fill,
.progress-circle.p57 .fill,
.progress-circle.p58 .fill,
.progress-circle.p59 .fill,
.progress-circle.p60 .fill,
.progress-circle.p61 .fill,
.progress-circle.p62 .fill,
.progress-circle.p63 .fill,
.progress-circle.p64 .fill,
.progress-circle.p65 .fill,
.progress-circle.p66 .fill,
.progress-circle.p67 .fill,
.progress-circle.p68 .fill,
.progress-circle.p69 .fill,
.progress-circle.p70 .fill,
.progress-circle.p71 .fill,
.progress-circle.p72 .fill,
.progress-circle.p73 .fill,
.progress-circle.p74 .fill,
.progress-circle.p75 .fill,
.progress-circle.p76 .fill,
.progress-circle.p77 .fill,
.progress-circle.p78 .fill,
.progress-circle.p79 .fill,
.progress-circle.p80 .fill,
.progress-circle.p81 .fill,
.progress-circle.p82 .fill,
.progress-circle.p83 .fill,
.progress-circle.p84 .fill,
.progress-circle.p85 .fill,
.progress-circle.p86 .fill,
.progress-circle.p87 .fill,
.progress-circle.p88 .fill,
.progress-circle.p89 .fill,
.progress-circle.p90 .fill,
.progress-circle.p91 .fill,
.progress-circle.p92 .fill,
.progress-circle.p93 .fill,
.progress-circle.p94 .fill,
.progress-circle.p95 .fill,
.progress-circle.p96 .fill,
.progress-circle.p97 .fill,
.progress-circle.p98 .fill,
.progress-circle.p99 .fill,
.progress-circle.p100 .fill {
  position: absolute;
  border: 0.04em solid #307bbb;
  width: 0.93em;
  height: 0.93em;
  clip: rect(0em, 0.5em, 1em, 0em);
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.pie-fill,
.progress-circle.p51 .bar:after,
.progress-circle.p51 .fill,
.progress-circle.p52 .bar:after,
.progress-circle.p52 .fill,
.progress-circle.p53 .bar:after,
.progress-circle.p53 .fill,
.progress-circle.p54 .bar:after,
.progress-circle.p54 .fill,
.progress-circle.p55 .bar:after,
.progress-circle.p55 .fill,
.progress-circle.p56 .bar:after,
.progress-circle.p56 .fill,
.progress-circle.p57 .bar:after,
.progress-circle.p57 .fill,
.progress-circle.p58 .bar:after,
.progress-circle.p58 .fill,
.progress-circle.p59 .bar:after,
.progress-circle.p59 .fill,
.progress-circle.p60 .bar:after,
.progress-circle.p60 .fill,
.progress-circle.p61 .bar:after,
.progress-circle.p61 .fill,
.progress-circle.p62 .bar:after,
.progress-circle.p62 .fill,
.progress-circle.p63 .bar:after,
.progress-circle.p63 .fill,
.progress-circle.p64 .bar:after,
.progress-circle.p64 .fill,
.progress-circle.p65 .bar:after,
.progress-circle.p65 .fill,
.progress-circle.p66 .bar:after,
.progress-circle.p66 .fill,
.progress-circle.p67 .bar:after,
.progress-circle.p67 .fill,
.progress-circle.p68 .bar:after,
.progress-circle.p68 .fill,
.progress-circle.p69 .bar:after,
.progress-circle.p69 .fill,
.progress-circle.p70 .bar:after,
.progress-circle.p70 .fill,
.progress-circle.p71 .bar:after,
.progress-circle.p71 .fill,
.progress-circle.p72 .bar:after,
.progress-circle.p72 .fill,
.progress-circle.p73 .bar:after,
.progress-circle.p73 .fill,
.progress-circle.p74 .bar:after,
.progress-circle.p74 .fill,
.progress-circle.p75 .bar:after,
.progress-circle.p75 .fill,
.progress-circle.p76 .bar:after,
.progress-circle.p76 .fill,
.progress-circle.p77 .bar:after,
.progress-circle.p77 .fill,
.progress-circle.p78 .bar:after,
.progress-circle.p78 .fill,
.progress-circle.p79 .bar:after,
.progress-circle.p79 .fill,
.progress-circle.p80 .bar:after,
.progress-circle.p80 .fill,
.progress-circle.p81 .bar:after,
.progress-circle.p81 .fill,
.progress-circle.p82 .bar:after,
.progress-circle.p82 .fill,
.progress-circle.p83 .bar:after,
.progress-circle.p83 .fill,
.progress-circle.p84 .bar:after,
.progress-circle.p84 .fill,
.progress-circle.p85 .bar:after,
.progress-circle.p85 .fill,
.progress-circle.p86 .bar:after,
.progress-circle.p86 .fill,
.progress-circle.p87 .bar:after,
.progress-circle.p87 .fill,
.progress-circle.p88 .bar:after,
.progress-circle.p88 .fill,
.progress-circle.p89 .bar:after,
.progress-circle.p89 .fill,
.progress-circle.p90 .bar:after,
.progress-circle.p90 .fill,
.progress-circle.p91 .bar:after,
.progress-circle.p91 .fill,
.progress-circle.p92 .bar:after,
.progress-circle.p92 .fill,
.progress-circle.p93 .bar:after,
.progress-circle.p93 .fill,
.progress-circle.p94 .bar:after,
.progress-circle.p94 .fill,
.progress-circle.p95 .bar:after,
.progress-circle.p95 .fill,
.progress-circle.p96 .bar:after,
.progress-circle.p96 .fill,
.progress-circle.p97 .bar:after,
.progress-circle.p97 .fill,
.progress-circle.p98 .bar:after,
.progress-circle.p98 .fill,
.progress-circle.p99 .bar:after,
.progress-circle.p99 .fill,
.progress-circle.p100 .bar:after,
.progress-circle.p100 .fill {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.progress-circle {
    display: inline-block;;
  position: relative;
  font-size: 120px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 0 0.1em 0.1em 0;
  background-color: #EBEBEB;
}
.progress-circle *,
.progress-circle *:before,
.progress-circle *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.progress-circle.center {
  float: none;
  margin: 0 auto;
}
.progress-circle.progress-lg {
  font-size: 240px;
}
.progress-circle.progress-sm {
  font-size: 80px;
}
.progress-circle > span {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  font-size: 0.2em;
  color: rgba(0,0,0,0.8);
  display: block;
  text-align: center;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.progress-circle:after {
  position: absolute;
  top: 0.04em;
  left: 0.04em;
  display: block;
  content: " ";
  border-radius: 50%;
  background-color: #f5f5f5;
  width: 0.92em;
  height: 0.92em;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.progress-circle .slice {
  position: absolute;
  width: 1em;
  height: 1em;
  clip: rect(0em, 1em, 1em, 0.5em);
}
.progress-circle.p1 .bar {
  -webkit-transform: rotate(3.6deg);
  -moz-transform: rotate(3.6deg);
  -ms-transform: rotate(3.6deg);
  -o-transform: rotate(3.6deg);
  transform: rotate(3.6deg);
}
.progress-circle.p2 .bar {
  -webkit-transform: rotate(7.2deg);
  -moz-transform: rotate(7.2deg);
  -ms-transform: rotate(7.2deg);
  -o-transform: rotate(7.2deg);
  transform: rotate(7.2deg);
}
.progress-circle.p3 .bar {
  -webkit-transform: rotate(10.8deg);
  -moz-transform: rotate(10.8deg);
  -ms-transform: rotate(10.8deg);
  -o-transform: rotate(10.8deg);
  transform: rotate(10.8deg);
}
.progress-circle.p4 .bar {
  -webkit-transform: rotate(14.4deg);
  -moz-transform: rotate(14.4deg);
  -ms-transform: rotate(14.4deg);
  -o-transform: rotate(14.4deg);
  transform: rotate(14.4deg);
}
.progress-circle.p5 .bar {
  -webkit-transform: rotate(18deg);
  -moz-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  -o-transform: rotate(18deg);
  transform: rotate(18deg);
}
.progress-circle.p6 .bar {
  -webkit-transform: rotate(21.6deg);
  -moz-transform: rotate(21.6deg);
  -ms-transform: rotate(21.6deg);
  -o-transform: rotate(21.6deg);
  transform: rotate(21.6deg);
}
.progress-circle.p7 .bar {
  -webkit-transform: rotate(25.2deg);
  -moz-transform: rotate(25.2deg);
  -ms-transform: rotate(25.2deg);
  -o-transform: rotate(25.2deg);
  transform: rotate(25.2deg);
}
.progress-circle.p8 .bar {
  -webkit-transform: rotate(28.8deg);
  -moz-transform: rotate(28.8deg);
  -ms-transform: rotate(28.8deg);
  -o-transform: rotate(28.8deg);
  transform: rotate(28.8deg);
}
.progress-circle.p9 .bar {
  -webkit-transform: rotate(32.4deg);
  -moz-transform: rotate(32.4deg);
  -ms-transform: rotate(32.4deg);
  -o-transform: rotate(32.4deg);
  transform: rotate(32.4deg);
}
.progress-circle.p10 .bar {
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  transform: rotate(36deg);
}
.progress-circle.p11 .bar {
  -webkit-transform: rotate(39.6deg);
  -moz-transform: rotate(39.6deg);
  -ms-transform: rotate(39.6deg);
  -o-transform: rotate(39.6deg);
  transform: rotate(39.6deg);
}
.progress-circle.p12 .bar {
  -webkit-transform: rotate(43.2deg);
  -moz-transform: rotate(43.2deg);
  -ms-transform: rotate(43.2deg);
  -o-transform: rotate(43.2deg);
  transform: rotate(43.2deg);
}
.progress-circle.p13 .bar {
  -webkit-transform: rotate(46.800000000000004deg);
  -moz-transform: rotate(46.800000000000004deg);
  -ms-transform: rotate(46.800000000000004deg);
  -o-transform: rotate(46.800000000000004deg);
  transform: rotate(46.800000000000004deg);
}
.progress-circle.p14 .bar {
  -webkit-transform: rotate(50.4deg);
  -moz-transform: rotate(50.4deg);
  -ms-transform: rotate(50.4deg);
  -o-transform: rotate(50.4deg);
  transform: rotate(50.4deg);
}
.progress-circle.p15 .bar {
  -webkit-transform: rotate(54deg);
  -moz-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  -o-transform: rotate(54deg);
  transform: rotate(54deg);
}
.progress-circle.p16 .bar {
  -webkit-transform: rotate(57.6deg);
  -moz-transform: rotate(57.6deg);
  -ms-transform: rotate(57.6deg);
  -o-transform: rotate(57.6deg);
  transform: rotate(57.6deg);
}
.progress-circle.p17 .bar {
  -webkit-transform: rotate(61.2deg);
  -moz-transform: rotate(61.2deg);
  -ms-transform: rotate(61.2deg);
  -o-transform: rotate(61.2deg);
  transform: rotate(61.2deg);
}
.progress-circle.p18 .bar {
  -webkit-transform: rotate(64.8deg);
  -moz-transform: rotate(64.8deg);
  -ms-transform: rotate(64.8deg);
  -o-transform: rotate(64.8deg);
  transform: rotate(64.8deg);
}
.progress-circle.p19 .bar {
  -webkit-transform: rotate(68.4deg);
  -moz-transform: rotate(68.4deg);
  -ms-transform: rotate(68.4deg);
  -o-transform: rotate(68.4deg);
  transform: rotate(68.4deg);
}
.progress-circle.p20 .bar {
  -webkit-transform: rotate(72deg);
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -o-transform: rotate(72deg);
  transform: rotate(72deg);
}
.progress-circle.p21 .bar {
  -webkit-transform: rotate(75.60000000000001deg);
  -moz-transform: rotate(75.60000000000001deg);
  -ms-transform: rotate(75.60000000000001deg);
  -o-transform: rotate(75.60000000000001deg);
  transform: rotate(75.60000000000001deg);
}
.progress-circle.p22 .bar {
  -webkit-transform: rotate(79.2deg);
  -moz-transform: rotate(79.2deg);
  -ms-transform: rotate(79.2deg);
  -o-transform: rotate(79.2deg);
  transform: rotate(79.2deg);
}
.progress-circle.p23 .bar {
  -webkit-transform: rotate(82.8deg);
  -moz-transform: rotate(82.8deg);
  -ms-transform: rotate(82.8deg);
  -o-transform: rotate(82.8deg);
  transform: rotate(82.8deg);
}
.progress-circle.p24 .bar {
  -webkit-transform: rotate(86.4deg);
  -moz-transform: rotate(86.4deg);
  -ms-transform: rotate(86.4deg);
  -o-transform: rotate(86.4deg);
  transform: rotate(86.4deg);
}
.progress-circle.p25 .bar {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.progress-circle.p26 .bar {
  -webkit-transform: rotate(93.60000000000001deg);
  -moz-transform: rotate(93.60000000000001deg);
  -ms-transform: rotate(93.60000000000001deg);
  -o-transform: rotate(93.60000000000001deg);
  transform: rotate(93.60000000000001deg);
}
.progress-circle.p27 .bar {
  -webkit-transform: rotate(97.2deg);
  -moz-transform: rotate(97.2deg);
  -ms-transform: rotate(97.2deg);
  -o-transform: rotate(97.2deg);
  transform: rotate(97.2deg);
}
.progress-circle.p28 .bar {
  -webkit-transform: rotate(100.8deg);
  -moz-transform: rotate(100.8deg);
  -ms-transform: rotate(100.8deg);
  -o-transform: rotate(100.8deg);
  transform: rotate(100.8deg);
}
.progress-circle.p29 .bar {
  -webkit-transform: rotate(104.4deg);
  -moz-transform: rotate(104.4deg);
  -ms-transform: rotate(104.4deg);
  -o-transform: rotate(104.4deg);
  transform: rotate(104.4deg);
}
.progress-circle.p30 .bar {
  -webkit-transform: rotate(108deg);
  -moz-transform: rotate(108deg);
  -ms-transform: rotate(108deg);
  -o-transform: rotate(108deg);
  transform: rotate(108deg);
}
.progress-circle.p31 .bar {
  -webkit-transform: rotate(111.60000000000001deg);
  -moz-transform: rotate(111.60000000000001deg);
  -ms-transform: rotate(111.60000000000001deg);
  -o-transform: rotate(111.60000000000001deg);
  transform: rotate(111.60000000000001deg);
}
.progress-circle.p32 .bar {
  -webkit-transform: rotate(115.2deg);
  -moz-transform: rotate(115.2deg);
  -ms-transform: rotate(115.2deg);
  -o-transform: rotate(115.2deg);
  transform: rotate(115.2deg);
}
.progress-circle.p33 .bar {
  -webkit-transform: rotate(118.8deg);
  -moz-transform: rotate(118.8deg);
  -ms-transform: rotate(118.8deg);
  -o-transform: rotate(118.8deg);
  transform: rotate(118.8deg);
}
.progress-circle.p34 .bar {
  -webkit-transform: rotate(122.4deg);
  -moz-transform: rotate(122.4deg);
  -ms-transform: rotate(122.4deg);
  -o-transform: rotate(122.4deg);
  transform: rotate(122.4deg);
}
.progress-circle.p35 .bar {
  -webkit-transform: rotate(126deg);
  -moz-transform: rotate(126deg);
  -ms-transform: rotate(126deg);
  -o-transform: rotate(126deg);
  transform: rotate(126deg);
}
.progress-circle.p36 .bar {
  -webkit-transform: rotate(129.6deg);
  -moz-transform: rotate(129.6deg);
  -ms-transform: rotate(129.6deg);
  -o-transform: rotate(129.6deg);
  transform: rotate(129.6deg);
}
.progress-circle.p37 .bar {
  -webkit-transform: rotate(133.20000000000002deg);
  -moz-transform: rotate(133.20000000000002deg);
  -ms-transform: rotate(133.20000000000002deg);
  -o-transform: rotate(133.20000000000002deg);
  transform: rotate(133.20000000000002deg);
}
.progress-circle.p38 .bar {
  -webkit-transform: rotate(136.8deg);
  -moz-transform: rotate(136.8deg);
  -ms-transform: rotate(136.8deg);
  -o-transform: rotate(136.8deg);
  transform: rotate(136.8deg);
}
.progress-circle.p39 .bar {
  -webkit-transform: rotate(140.4deg);
  -moz-transform: rotate(140.4deg);
  -ms-transform: rotate(140.4deg);
  -o-transform: rotate(140.4deg);
  transform: rotate(140.4deg);
}
.progress-circle.p40 .bar {
  -webkit-transform: rotate(144deg);
  -moz-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  -o-transform: rotate(144deg);
  transform: rotate(144deg);
}
.progress-circle.p41 .bar {
  -webkit-transform: rotate(147.6deg);
  -moz-transform: rotate(147.6deg);
  -ms-transform: rotate(147.6deg);
  -o-transform: rotate(147.6deg);
  transform: rotate(147.6deg);
}
.progress-circle.p42 .bar {
  -webkit-transform: rotate(151.20000000000002deg);
  -moz-transform: rotate(151.20000000000002deg);
  -ms-transform: rotate(151.20000000000002deg);
  -o-transform: rotate(151.20000000000002deg);
  transform: rotate(151.20000000000002deg);
}
.progress-circle.p43 .bar {
  -webkit-transform: rotate(154.8deg);
  -moz-transform: rotate(154.8deg);
  -ms-transform: rotate(154.8deg);
  -o-transform: rotate(154.8deg);
  transform: rotate(154.8deg);
}
.progress-circle.p44 .bar {
  -webkit-transform: rotate(158.4deg);
  -moz-transform: rotate(158.4deg);
  -ms-transform: rotate(158.4deg);
  -o-transform: rotate(158.4deg);
  transform: rotate(158.4deg);
}
.progress-circle.p45 .bar {
  -webkit-transform: rotate(162deg);
  -moz-transform: rotate(162deg);
  -ms-transform: rotate(162deg);
  -o-transform: rotate(162deg);
  transform: rotate(162deg);
}
.progress-circle.p46 .bar {
  -webkit-transform: rotate(165.6deg);
  -moz-transform: rotate(165.6deg);
  -ms-transform: rotate(165.6deg);
  -o-transform: rotate(165.6deg);
  transform: rotate(165.6deg);
}
.progress-circle.p47 .bar {
  -webkit-transform: rotate(169.20000000000002deg);
  -moz-transform: rotate(169.20000000000002deg);
  -ms-transform: rotate(169.20000000000002deg);
  -o-transform: rotate(169.20000000000002deg);
  transform: rotate(169.20000000000002deg);
}
.progress-circle.p48 .bar {
  -webkit-transform: rotate(172.8deg);
  -moz-transform: rotate(172.8deg);
  -ms-transform: rotate(172.8deg);
  -o-transform: rotate(172.8deg);
  transform: rotate(172.8deg);
}
.progress-circle.p49 .bar {
  -webkit-transform: rotate(176.4deg);
  -moz-transform: rotate(176.4deg);
  -ms-transform: rotate(176.4deg);
  -o-transform: rotate(176.4deg);
  transform: rotate(176.4deg);
}
.progress-circle.p50 .bar {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.progress-circle.p51 .bar {
  -webkit-transform: rotate(183.6deg);
  -moz-transform: rotate(183.6deg);
  -ms-transform: rotate(183.6deg);
  -o-transform: rotate(183.6deg);
  transform: rotate(183.6deg);
}
.progress-circle.p52 .bar {
  -webkit-transform: rotate(187.20000000000002deg);
  -moz-transform: rotate(187.20000000000002deg);
  -ms-transform: rotate(187.20000000000002deg);
  -o-transform: rotate(187.20000000000002deg);
  transform: rotate(187.20000000000002deg);
}
.progress-circle.p53 .bar {
  -webkit-transform: rotate(190.8deg);
  -moz-transform: rotate(190.8deg);
  -ms-transform: rotate(190.8deg);
  -o-transform: rotate(190.8deg);
  transform: rotate(190.8deg);
}
.progress-circle.p54 .bar {
  -webkit-transform: rotate(194.4deg);
  -moz-transform: rotate(194.4deg);
  -ms-transform: rotate(194.4deg);
  -o-transform: rotate(194.4deg);
  transform: rotate(194.4deg);
}
.progress-circle.p55 .bar {
  -webkit-transform: rotate(198deg);
  -moz-transform: rotate(198deg);
  -ms-transform: rotate(198deg);
  -o-transform: rotate(198deg);
  transform: rotate(198deg);
}
.progress-circle.p56 .bar {
  -webkit-transform: rotate(201.6deg);
  -moz-transform: rotate(201.6deg);
  -ms-transform: rotate(201.6deg);
  -o-transform: rotate(201.6deg);
  transform: rotate(201.6deg);
}
.progress-circle.p57 .bar {
  -webkit-transform: rotate(205.20000000000002deg);
  -moz-transform: rotate(205.20000000000002deg);
  -ms-transform: rotate(205.20000000000002deg);
  -o-transform: rotate(205.20000000000002deg);
  transform: rotate(205.20000000000002deg);
}
.progress-circle.p58 .bar {
  -webkit-transform: rotate(208.8deg);
  -moz-transform: rotate(208.8deg);
  -ms-transform: rotate(208.8deg);
  -o-transform: rotate(208.8deg);
  transform: rotate(208.8deg);
}
.progress-circle.p59 .bar {
  -webkit-transform: rotate(212.4deg);
  -moz-transform: rotate(212.4deg);
  -ms-transform: rotate(212.4deg);
  -o-transform: rotate(212.4deg);
  transform: rotate(212.4deg);
}
.progress-circle.p60 .bar {
  -webkit-transform: rotate(216deg);
  -moz-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  -o-transform: rotate(216deg);
  transform: rotate(216deg);
}
.progress-circle.p61 .bar {
  -webkit-transform: rotate(219.6deg);
  -moz-transform: rotate(219.6deg);
  -ms-transform: rotate(219.6deg);
  -o-transform: rotate(219.6deg);
  transform: rotate(219.6deg);
}
.progress-circle.p62 .bar {
  -webkit-transform: rotate(223.20000000000002deg);
  -moz-transform: rotate(223.20000000000002deg);
  -ms-transform: rotate(223.20000000000002deg);
  -o-transform: rotate(223.20000000000002deg);
  transform: rotate(223.20000000000002deg);
}
.progress-circle.p63 .bar {
  -webkit-transform: rotate(226.8deg);
  -moz-transform: rotate(226.8deg);
  -ms-transform: rotate(226.8deg);
  -o-transform: rotate(226.8deg);
  transform: rotate(226.8deg);
}
.progress-circle.p64 .bar {
  -webkit-transform: rotate(230.4deg);
  -moz-transform: rotate(230.4deg);
  -ms-transform: rotate(230.4deg);
  -o-transform: rotate(230.4deg);
  transform: rotate(230.4deg);
}
.progress-circle.p65 .bar {
  -webkit-transform: rotate(234deg);
  -moz-transform: rotate(234deg);
  -ms-transform: rotate(234deg);
  -o-transform: rotate(234deg);
  transform: rotate(234deg);
}
.progress-circle.p66 .bar {
  -webkit-transform: rotate(237.6deg);
  -moz-transform: rotate(237.6deg);
  -ms-transform: rotate(237.6deg);
  -o-transform: rotate(237.6deg);
  transform: rotate(237.6deg);
}
.progress-circle.p67 .bar {
  -webkit-transform: rotate(241.20000000000002deg);
  -moz-transform: rotate(241.20000000000002deg);
  -ms-transform: rotate(241.20000000000002deg);
  -o-transform: rotate(241.20000000000002deg);
  transform: rotate(241.20000000000002deg);
}
.progress-circle.p68 .bar {
  -webkit-transform: rotate(244.8deg);
  -moz-transform: rotate(244.8deg);
  -ms-transform: rotate(244.8deg);
  -o-transform: rotate(244.8deg);
  transform: rotate(244.8deg);
}
.progress-circle.p69 .bar {
  -webkit-transform: rotate(248.4deg);
  -moz-transform: rotate(248.4deg);
  -ms-transform: rotate(248.4deg);
  -o-transform: rotate(248.4deg);
  transform: rotate(248.4deg);
}
.progress-circle.p70 .bar {
  -webkit-transform: rotate(252deg);
  -moz-transform: rotate(252deg);
  -ms-transform: rotate(252deg);
  -o-transform: rotate(252deg);
  transform: rotate(252deg);
}
.progress-circle.p71 .bar {
  -webkit-transform: rotate(255.6deg);
  -moz-transform: rotate(255.6deg);
  -ms-transform: rotate(255.6deg);
  -o-transform: rotate(255.6deg);
  transform: rotate(255.6deg);
}
.progress-circle.p72 .bar {
  -webkit-transform: rotate(259.2deg);
  -moz-transform: rotate(259.2deg);
  -ms-transform: rotate(259.2deg);
  -o-transform: rotate(259.2deg);
  transform: rotate(259.2deg);
}
.progress-circle.p73 .bar {
  -webkit-transform: rotate(262.8deg);
  -moz-transform: rotate(262.8deg);
  -ms-transform: rotate(262.8deg);
  -o-transform: rotate(262.8deg);
  transform: rotate(262.8deg);
}
.progress-circle.p74 .bar {
  -webkit-transform: rotate(266.40000000000003deg);
  -moz-transform: rotate(266.40000000000003deg);
  -ms-transform: rotate(266.40000000000003deg);
  -o-transform: rotate(266.40000000000003deg);
  transform: rotate(266.40000000000003deg);
}
.progress-circle.p75 .bar {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.progress-circle.p76 .bar {
  -webkit-transform: rotate(273.6deg);
  -moz-transform: rotate(273.6deg);
  -ms-transform: rotate(273.6deg);
  -o-transform: rotate(273.6deg);
  transform: rotate(273.6deg);
}
.progress-circle.p77 .bar {
  -webkit-transform: rotate(277.2deg);
  -moz-transform: rotate(277.2deg);
  -ms-transform: rotate(277.2deg);
  -o-transform: rotate(277.2deg);
  transform: rotate(277.2deg);
}
.progress-circle.p78 .bar {
  -webkit-transform: rotate(280.8deg);
  -moz-transform: rotate(280.8deg);
  -ms-transform: rotate(280.8deg);
  -o-transform: rotate(280.8deg);
  transform: rotate(280.8deg);
}
.progress-circle.p79 .bar {
  -webkit-transform: rotate(284.40000000000003deg);
  -moz-transform: rotate(284.40000000000003deg);
  -ms-transform: rotate(284.40000000000003deg);
  -o-transform: rotate(284.40000000000003deg);
  transform: rotate(284.40000000000003deg);
}
.progress-circle.p80 .bar {
  -webkit-transform: rotate(288deg);
  -moz-transform: rotate(288deg);
  -ms-transform: rotate(288deg);
  -o-transform: rotate(288deg);
  transform: rotate(288deg);
}
.progress-circle.p81 .bar {
  -webkit-transform: rotate(291.6deg);
  -moz-transform: rotate(291.6deg);
  -ms-transform: rotate(291.6deg);
  -o-transform: rotate(291.6deg);
  transform: rotate(291.6deg);
}
.progress-circle.p82 .bar {
  -webkit-transform: rotate(295.2deg);
  -moz-transform: rotate(295.2deg);
  -ms-transform: rotate(295.2deg);
  -o-transform: rotate(295.2deg);
  transform: rotate(295.2deg);
}
.progress-circle.p83 .bar {
  -webkit-transform: rotate(298.8deg);
  -moz-transform: rotate(298.8deg);
  -ms-transform: rotate(298.8deg);
  -o-transform: rotate(298.8deg);
  transform: rotate(298.8deg);
}
.progress-circle.p84 .bar {
  -webkit-transform: rotate(302.40000000000003deg);
  -moz-transform: rotate(302.40000000000003deg);
  -ms-transform: rotate(302.40000000000003deg);
  -o-transform: rotate(302.40000000000003deg);
  transform: rotate(302.40000000000003deg);
}
.progress-circle.p85 .bar {
  -webkit-transform: rotate(306deg);
  -moz-transform: rotate(306deg);
  -ms-transform: rotate(306deg);
  -o-transform: rotate(306deg);
  transform: rotate(306deg);
}
.progress-circle.p86 .bar {
  -webkit-transform: rotate(309.6deg);
  -moz-transform: rotate(309.6deg);
  -ms-transform: rotate(309.6deg);
  -o-transform: rotate(309.6deg);
  transform: rotate(309.6deg);
}
.progress-circle.p87 .bar {
  -webkit-transform: rotate(313.2deg);
  -moz-transform: rotate(313.2deg);
  -ms-transform: rotate(313.2deg);
  -o-transform: rotate(313.2deg);
  transform: rotate(313.2deg);
}
.progress-circle.p88 .bar {
  -webkit-transform: rotate(316.8deg);
  -moz-transform: rotate(316.8deg);
  -ms-transform: rotate(316.8deg);
  -o-transform: rotate(316.8deg);
  transform: rotate(316.8deg);
}
.progress-circle.p89 .bar {
  -webkit-transform: rotate(320.40000000000003deg);
  -moz-transform: rotate(320.40000000000003deg);
  -ms-transform: rotate(320.40000000000003deg);
  -o-transform: rotate(320.40000000000003deg);
  transform: rotate(320.40000000000003deg);
}
.progress-circle.p90 .bar {
  -webkit-transform: rotate(324deg);
  -moz-transform: rotate(324deg);
  -ms-transform: rotate(324deg);
  -o-transform: rotate(324deg);
  transform: rotate(324deg);
}
.progress-circle.p91 .bar {
  -webkit-transform: rotate(327.6deg);
  -moz-transform: rotate(327.6deg);
  -ms-transform: rotate(327.6deg);
  -o-transform: rotate(327.6deg);
  transform: rotate(327.6deg);
}
.progress-circle.p92 .bar {
  -webkit-transform: rotate(331.2deg);
  -moz-transform: rotate(331.2deg);
  -ms-transform: rotate(331.2deg);
  -o-transform: rotate(331.2deg);
  transform: rotate(331.2deg);
}
.progress-circle.p93 .bar {
  -webkit-transform: rotate(334.8deg);
  -moz-transform: rotate(334.8deg);
  -ms-transform: rotate(334.8deg);
  -o-transform: rotate(334.8deg);
  transform: rotate(334.8deg);
}
.progress-circle.p94 .bar {
  -webkit-transform: rotate(338.40000000000003deg);
  -moz-transform: rotate(338.40000000000003deg);
  -ms-transform: rotate(338.40000000000003deg);
  -o-transform: rotate(338.40000000000003deg);
  transform: rotate(338.40000000000003deg);
}
.progress-circle.p95 .bar {
  -webkit-transform: rotate(342deg);
  -moz-transform: rotate(342deg);
  -ms-transform: rotate(342deg);
  -o-transform: rotate(342deg);
  transform: rotate(342deg);
}
.progress-circle.p96 .bar {
  -webkit-transform: rotate(345.6deg);
  -moz-transform: rotate(345.6deg);
  -ms-transform: rotate(345.6deg);
  -o-transform: rotate(345.6deg);
  transform: rotate(345.6deg);
}
.progress-circle.p97 .bar {
  -webkit-transform: rotate(349.2deg);
  -moz-transform: rotate(349.2deg);
  -ms-transform: rotate(349.2deg);
  -o-transform: rotate(349.2deg);
  transform: rotate(349.2deg);
}
.progress-circle.p98 .bar {
  -webkit-transform: rotate(352.8deg);
  -moz-transform: rotate(352.8deg);
  -ms-transform: rotate(352.8deg);
  -o-transform: rotate(352.8deg);
  transform: rotate(352.8deg);
}
.progress-circle.p99 .bar {
  -webkit-transform: rotate(356.40000000000003deg);
  -moz-transform: rotate(356.40000000000003deg);
  -ms-transform: rotate(356.40000000000003deg);
  -o-transform: rotate(356.40000000000003deg);
  transform: rotate(356.40000000000003deg);
}
.progress-circle.p100 .bar {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
.progress-circle:hover {
  cursor: default;
}

.progress-circle.teal .bar,
.progress-circle.teal .fill {
    border-color: #16a085 !important;
}

.progress-circle.green .bar,
.progress-circle.green .fill {
    border-color: #27ae60 !important;
}

.progress-circle.blue .bar,
.progress-circle.blue .fill {
    border-color: #2980b9 !important;
}

.progress-circle.lightblue .bar,
.progress-circle.lightblue .fill {
    border-color: #03a9f4 !important;
}

.progress-circle.cyan .bar,
.progress-circle.cyan .fill {
    border-color: #00bcd4 !important;
}

.progress-circle.purple .bar,
.progress-circle.purple .fill {
    border-color: #9c27b0 !important;
}

.progress-circle.pink .bar,
.progress-circle.pink .fill {
    border-color: #e91e63 !important;
}

.progress-circle.magenta .bar,
.progress-circle.magenta .fill {
    border-color: #8e44ad !important;
}

.progress-circle.dark .bar,
.progress-circle.dark .fill {
    border-color: #2c3e50 !important;
}

.progress-circle.yellow .bar,
.progress-circle.yellow .fill {
    border-color: #f1c40f !important;
}

.progress-circle.orange .bar,
.progress-circle.orange .fill {
    border-color: #d35400 !important;
}

.progress-circle.red .bar,
.progress-circle.red .fill {
    border-color: #c0392b !important;
}

.progress-circle.lightgrey .bar,
.progress-circle.lightgrey .fill {
    border-color: #bdc3c7 !important;
}

.progress-circle.grey .bar,
.progress-circle.grey .fill {
    border-color: #7f8c8d !important;
}

body.scheme-teal .progress-circle.primary .bar,
body.scheme-teal .progress-circle.primary .fill {
  border-color: #16a085 !important;
}
body.scheme-green .progress-circle.primary .bar,
body.scheme-green .progress-circle.primary .fill {
  border-color: #27ae60 !important;
}
body.scheme-blue .progress-circle.primary .bar,
body.scheme-blue .progress-circle.primary .fill {
  border-color: #2980b9 !important;
}
body.scheme-lightblue .progress-circle.primary .bar,
body.scheme-lightblue .progress-circle.primary .fill {
  border-color: #03a9f4 !important;
}
body.scheme-cyan .progress-circle.primary .bar,
body.scheme-cyan .progress-circle.primary .fill {
  border-color: #00bcd4 !important;
}
body.scheme-purple .progress-circle.primary .bar,
body.scheme-purple .progress-circle.primary .fill {
  border-color: #9c27b0 !important;
}
body.scheme-pink .progress-circle.primary .bar,
body.scheme-pink .progress-circle.primary .fill {
  border-color: #e91e63 !important;
}
body.scheme-magenta .progress-circle.primary .bar,
body.scheme-magenta .progress-circle.primary .fill {
  border-color: #8e44ad !important;
}
body.scheme-dark .progress-circle.primary .bar,
body.scheme-dark .progress-circle.primary .fill {
  border-color: #2c3e50 !important;
}
body.scheme-yellow .progress-circle.primary .bar,
body.scheme-yellow .progress-circle.primary .fill {
  border-color: #f1c40f !important;
}
body.scheme-orange .progress-circle.primary .bar,
body.scheme-orange .progress-circle.primary .fill {
  border-color: #d35400 !important;
}
body.scheme-red .progress-circle.primary .bar,
body.scheme-red .progress-circle.primary .fill {
  border-color: #c0392b !important;
}
body.scheme-lightgrey .progress-circle.primary .bar,
body.scheme-lightgrey .progress-circle.primary .fill {
  border-color: #bdc3c7 !important;
}
body.scheme-grey .progress-circle.primary .bar,
body.scheme-grey .progress-circle.primary .fill {
  border-color: #7f8c8d !important;
}
body.scheme-white .progress-circle.primary .bar,
body.scheme-white .progress-circle.primary .fill {
  border-color: #fff !important;
}