.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,0.08) !important;
}

.table-hover > tbody > tr:hover {
    background-color: rgba(0,0,0,0.08) !important;
}

.table-hover-td > tbody > tr > td:hover {
    background-color: rgba(0,0,0,0.08) !important;
}

@media only screen and (max-width: 800px) {
	
	.table-flip .thead:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
	.table-flip * html .thead { zoom: 1; }
	.table-flip *:first-child+html .thead { zoom: 1; }
	
	.table-flip table { width: 100%; border-collapse: collapse; border-spacing: 0; }
 
	.table-flip th,
	.table-flip td { margin: 0; vertical-align: top; }
	.table-flip th { text-align: left; }
	
	.table-flip table { display: block; position: relative; width: 100%; }
	.table-flip thead { display: block; float: left; }
	.table-flip tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
	.table-flip thead tr { display: block; }
	.table-flip thead tr th:last-child { border-bottom: none; }
	.table-flip th { display: block; text-align: right; }
	.table-flip tbody tr { display: inline-block; vertical-align: top; }
	.table-flip td { display: block; min-height: 1.25em; text-align: left; }
	.table-flip thead tr { border-right: 1px solid #babcbf;  }
	.table-flip th { border-bottom: 0; border-left: 0; }
	.table-flip td { border-left: 0; border-right: 0; border-bottom: 0; }
	.table-flip tbody tr:not(:first-child) { border-left: 1px solid #babcbf; }
	.table-flip th:last-child,
	.table-flip td:last-child { border-bottom: 1px solid #babcbf; }




	.table-flipped table, 
	.table-flipped thead, 
	.table-flipped tbody, 
	.table-flipped th, 
	.table-flipped td, 
	.table-flipped tr { 
		display: block; 
	}

	.table-flipped thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	.table-flipped tr { border: 1px solid #ccc; }
 
	.table-flipped td {
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	.table-flipped td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	.table-flipped td:before { content: attr(data-title); }
}