
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="property-detail-wrapper m-t-50 p-b-10 m-b-20">
        <div class="row">
            <div class="col-md-6">
                <div class="">
                    <ul class="bxslider property-slider">
                        <li><img src="/Content/images/properties/1.jpg" /></li>
                        <li><img src="/Content/images/properties/2.jpg" /></li>
                        <li><img src="/Content/images/properties/3.jpg" /></li>
                        <li><img src="/Content/images/properties/4.jpg" /></li>
                    </ul>
                </div>
                <!-- end slider -->
            </div> <!-- end col -->
            <div class="col-md-6">
                <div class="m-t-0">
                    <h3>4BHK Alexander Court, New York</h3>
                    <p class="text-muted text-overflow"><i class="mdi mdi-map-marker-radius m-r-5"></i>245 E 20th St, New York, NY 201609</p>
                    <p class="m-t-20">
                        Quisque non dictum eros. Praesent porta vehicula arcu eu ornare. Donec id
                        egestas arcu. Suspendisse auctor condimentum ligula ultricies cursus.
                        Vestibulum vel orci vel lacus rhoncus sagittis sed vitae mi. Pellentesque
                        molestie elit bibendum tincidunt semper. Aliquam ac volutpat risus. In felis
                        felis, posuere commodo aliquet eget, sagittis sed turpis.
                    </p>
                    <h4 class="m-t-30 m-b-20">General Amenities</h4>
                    <div class="row">
                        <div class="col-sm-4">
                            <ul class="list-unstyled proprerty-features">
                                <li>
                                    <i class="mdi mdi-check-circle-outline text-success m-r-5"></i>
                                    Swimming pool
                                </li>
                                <li>
                                    <i class="mdi mdi-check-circle-outline text-success m-r-5"></i>
                                    Air conditioning
                                </li>
                                <li>
                                    <i class="mdi mdi-check-circle-outline text-success m-r-5"></i>
                                    Internet
                                </li>
                            </ul>
                        </div> <!--- end col -->

                        <div class="col-sm-4">
                            <ul class="list-unstyled proprerty-features">
                                <li>
                                    <i class="mdi mdi-check-circle-outline text-success m-r-5"></i>
                                    Terrace
                                </li>
                                <li>
                                    <i class="mdi mdi-check-circle-outline text-success m-r-5"></i>
                                    Cofee pot
                                </li>
                                <li>
                                    <i class="mdi mdi-check-circle-outline text-success m-r-5"></i>
                                    Oven
                                </li>
                            </ul>
                        </div> <!--- end col -->

                        <div class="col-sm-4">
                            <ul class="list-unstyled proprerty-features">

                                <li>
                                    <i class="mdi mdi-check-circle-outline text-success m-r-5"></i>
                                    Dishwasher
                                </li>
                                <li>
                                    <i class="mdi mdi-check-circle-outline text-success m-r-5"></i>
                                    Near Green Zone
                                </li>
                                <li>
                                    <i class="mdi mdi-check-circle-outline text-success m-r-5"></i>
                                    Near Church
                                </li>
                            </ul>
                        </div> <!--- end col -->
                    </div> <!-- end row -->
                </div> <!-- end m-t-30 -->
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div>
    <!-- end property-detail-wrapper -->
</div>
