@{
    ViewBag.Title = "Liên hệ | Spendingshop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- BEGIN #page-header -->
<div id="page-header" class="section-container page-header-container bg-black">
    <!-- BEGIN page-header-cover -->
    <div class="page-header-cover">
        <img src="/Content/img/contact-us-cover.jpg" alt="" />
    </div>
    <!-- END page-header-cover -->
    <!-- BEGIN container -->
    <div class="container">
        <h1 class="page-header"><b>Liên hệ</b> chúng tôi</h1>
    </div>
    <!-- END container -->
</div>
<!-- BEGIN #page-header -->
<!-- BEGIN #product -->
<div id="product" class="section-container p-t-20">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN breadcrumb -->
        <ul class="breadcrumb m-b-10 f-s-12">
            <li><a href="#">Trang chủ</a></li>
            <li class="active">Liên hệ</li>
        </ul>
        <!-- END breadcrumb -->
        <!-- BEGIN row -->
        <div class="row row-space-30">
            <!-- BEGIN col-8 -->
            <div class="col-md-6">
                <h4 class="m-t-0">Form liên hệ</h4>
                <p class="m-b-30 f-s-13">
                   
                </p>
                <form class="form-horizontal" name="contact_us_form" action="#" method="POST">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" class="form-control form-sm" name="name" placeholder="Họ tên của bạn" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" class="form-control form-sm" name="email" placeholder="Nhập địa chỉ email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" class="form-control form-sm" name="phone" placeholder="Nhập số điện thoại"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea class="form-control form-sm" rows="5" name="message" placeholder="Viết nội dung của bạn muốn gửi"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2"></label>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-inverse btn-sm">Gửi tin nhắn</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- END col-8 -->
            <!-- BEGIN col-4 -->
            <div class="col-md-6">
                <h4 class="m-t-0 p-b-20">Liên hệ của bạn</h4>
                <div class="embed-responsive embed-responsive-16by9 m-b-15">
                    <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3306.9584799260138!2d-118.49437019999998!3d34.019276700000006!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2a4cedd1266ff%3A0x1ffe328381544853!2sGoogle+Inc!5e0!3m2!1sen!2s!4v1435718319426" allowfullscreen></iframe>
                </div>
            </div>
            <!-- END col-4 -->
        </div>
        <!-- END row -->
    </div>
    <!-- END row -->
</div>
<!-- END #product -->