
<div class="sidebar">
    <div class="sidebar-top">
        <span class="sidebar-title">Menu chính Trial Shop</span>
        <a class="sidebar-toggle"></a>
    </div>
    <div class="sidebar-content">
        <ul>
            <li class="selected">
                <a href="/Admin/"><i class="fa fa-bar-chart"></i> <span>Bảng điều khiển</span></a>
            </li>
            <span class="header"><span>Thiết lập chung</span></span>
            <li>
                <a><i class="fa fa-reorder"></i> <span>Quản lý slide ảnh</span></a>
                <ul>
                    <li><a href="#"><i class="fa fa-list"></i>Danh sách slide ảnh</a></li>
                    <li><a href="#"><i class="fa fa-pencil-square-o"></i>Tạo mới slide ảnh</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-reorder"></i> <span>Quản lý nội dung</span></a>
                <ul>
                    <li><a href="#"><i class="fa fa-cog"></i>Cài đặt trang web</a></li>
                    <li><a href="#"><i class="fa fa-info-circle"></i>Thông tin giới thiệu</a></li>
                    <li><a href="#"><i class="fa fa-info-circle"></i>Thông tin chân trang</a></li>
                </ul>
            </li>
            <span class="header"><span>Danh mục chức năng</span></span>
            <li>
                <a><i class="fa fa-reorder"></i> <span>Quản lý người dùng</span></a>
                <ul>
                    <li><a href="/Admin/Account"><i class="fa fa-list"></i>Danh sách người dùng</a></li>
                    <li><a href="/Admin/Account/Create"><i class="fa fa-pencil-square-o"></i>Tạo mới người dùng</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-reorder"></i> <span>Loại sản phẩm</span></a>
                <ul>
                    <li><a href="#"><i class="fa fa-list"></i>Danh sách loại sản phẩm</a></li>
                    <li><a href="#"><i class="fa fa-pencil-square-o"></i>Tạo mới loại sản phẩm</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-reorder"></i> <span>Quản lý sản phẩm</span></a>
                <ul>
                    <li><a href="#"><i class="fa fa-list"></i>Danh sách sản phẩm</a></li>
                    <li><a href="#"><i class="fa fa-pencil-square-o"></i>Tạo mới sản phẩm</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-reorder"></i> <span>Quản lý bài viết</span></a>
                <ul>
                    <li><a href="#"><i class="fa fa-list"></i>Danh sách bài viết</a></li>
                    <li><a href="#"><i class="fa fa-pencil-square-o"></i>Tạo mới bài viết</a></li>
                </ul>
            </li>
            <span class="header"><span>Điều hướng nhanh</span></span>
            <li class="lbl-important">
                <a href="/trang-chu" target="_blank"><i class="fa fa-circle-o"></i> <span>Đến trang chủ</span></a>
            </li>
            <li class="lbl-warning">
                <a href="/tin-tuc" target="_blank"><i class="fa fa-circle-o"></i> <span>Đến trang blog</span></a>
            </li>
        </ul>
    </div>
</div>