<div class="demo_settings">
    <a class="toggleBtn btn"><i class="fa fa-cog"></i></a>
    <div class="demoHeader clearfix">
        <span class="pull-left">Thiết lập</span>
        <a id="settingsDefaults" class="control white rounded small pull-right"
           data-style="m:-6px -8px 0 0">
            Mặc định
        </a>
    </div>
    <div id="settings" class="row">
        <div class="col-md-12">
            <p class="txt-bold">Kiểu giao diện</p>
            <div class="col-md-6">
                <input type="radio" id="wideSetting" class="control circle box blue" checked="" name="layout">
                <label for="wideSetting"><span></span>Rộng</label>
            </div>
            <div class="col-md-6">
                <input type="radio" id="boxedSetting" class="control circle box blue" name="layout">
                <label for="boxedSetting"><span></span>Đóng hộp</label>
            </div>
        </div>
        <div class="col-md-12 mg-top-15">
            <p class="txt-bold col-md-12 no-padding mg-top-10">Màu sắc chính</p>
            <div id="schemeSetting" class="col-md-12 mg-top-10 clearfix">
                <a id="def" class="demo_color circle selected pull-left size-20"><i class="fa fa-asterisk"></i></a>
                <a id="teal" class="demo_color circle teal pull-left size-20"></a>
                <a id="green" class="demo_color circle green pull-left size-20"></a>
                <a id="blue" class="demo_color circle blue pull-left size-20"></a>
                <a id="lightblue" class="demo_color circle lightblue pull-left size-20"></a>
                <a id="cyan" class="demo_color circle cyan pull-left size-20"></a>
                <a id="magenta" class="demo_color circle magenta pull-left size-20"></a>
                <a id="purple" class="demo_color circle purple pull-left size-20"></a>
                <a id="pink" class="demo_color circle pink pull-left size-20"></a>
                <a id="dark" class="demo_color circle dark pull-left size-20"></a>
                <a id="yellow" class="demo_color circle yellow pull-left size-20"></a>
                <a id="orange" class="demo_color circle orange pull-left size-20"></a>
                <a id="red" class="demo_color circle red pull-left size-20"></a>
                <a id="lightgrey" class="demo_color circle lightgrey pull-left size-20"></a>
                <a id="grey" class="demo_color circle grey pull-left size-20"></a>
                <a id="white" class="demo_color circle white pull-left size-20"></a>
            </div>
        </div>
        <div class="col-md-12">
            <p class="txt-bold col-md-12 no-padding mg-top-10">Màu navbar</p>
            <div id="navbarSchemeSetting" class="col-md-12 mg-top-10 clearfix">
                <a id="def" class="demo_color circle selected pull-left size-20"><i class="fa fa-asterisk"></i></a>
                <a id="teal" class="demo_color circle teal pull-left size-20"></a>
                <a id="green" class="demo_color circle green pull-left size-20"></a>
                <a id="blue" class="demo_color circle blue pull-left size-20"></a>
                <a id="lightblue" class="demo_color circle lightblue pull-left size-20"></a>
                <a id="cyan" class="demo_color circle cyan pull-left size-20"></a>
                <a id="magenta" class="demo_color circle magenta pull-left size-20"></a>
                <a id="purple" class="demo_color circle purple pull-left size-20"></a>
                <a id="pink" class="demo_color circle pink pull-left size-20"></a>
                <a id="dark" class="demo_color circle dark pull-left size-20"></a>
                <a id="yellow" class="demo_color circle yellow pull-left size-20"></a>
                <a id="orange" class="demo_color circle orange pull-left size-20"></a>
                <a id="red" class="demo_color circle red pull-left size-20"></a>
                <a id="lightgrey" class="demo_color circle lightgrey pull-left size-20"></a>
                <a id="grey" class="demo_color circle grey pull-left size-20"></a>
                <a id="white" class="demo_color circle white pull-left size-20"></a>
            </div>
        </div>
        <div class="col-md-12">
            <p class="txt-bold col-md-12 no-padding mg-top-10">Màu sidebar</p>
            <div id="sidebarSchemeSetting" class="col-md-12 mg-top-10 clearfix">
                <a id="def" class="demo_color circle selected pull-left size-20"><i class="fa fa-asterisk"></i></a>
                <a id="teal" class="demo_color circle teal pull-left size-20"></a>
                <a id="green" class="demo_color circle green pull-left size-20"></a>
                <a id="blue" class="demo_color circle blue pull-left size-20"></a>
                <a id="lightblue" class="demo_color circle lightblue pull-left size-20"></a>
                <a id="cyan" class="demo_color circle cyan pull-left size-20"></a>
                <a id="magenta" class="demo_color circle magenta pull-left size-20"></a>
                <a id="purple" class="demo_color circle purple pull-left size-20"></a>
                <a id="pink" class="demo_color circle pink pull-left size-20"></a>
                <a id="dark" class="demo_color circle dark pull-left size-20"></a>
                <a id="yellow" class="demo_color circle yellow pull-left size-20"></a>
                <a id="orange" class="demo_color circle orange pull-left size-20"></a>
                <a id="red" class="demo_color circle red pull-left size-20"></a>
                <a id="lightgrey" class="demo_color circle lightgrey pull-left size-20"></a>
                <a id="grey" class="demo_color circle grey pull-left size-20"></a>
                <a id="white" class="demo_color circle white pull-left size-20"></a>
            </div>
        </div>
        <div class="col-md-12 mg-top-25">
            <input type="checkbox" id="sidebarOverlaySetting" class="control slide2 blue">
            <label for="sidebarOverlaySetting" class="mg-left-5"><span></span>Lớp phủ sidebar</label>
        </div>

        <div class="col-md-12">
            <input type="checkbox" id="sidebarClosedSetting" class="control slide2 blue">
            <label for="sidebarClosedSetting" class="mg-left-5"><span></span>Đóng sidebar</label>
        </div>

        <div class="col-md-12">
            <input type="checkbox" id="sidebarSolidSetting" class="control slide2 blue">
            <label for="sidebarSolidSetting" class="mg-left-5"><span></span>Sidebar Solid Color</label>
        </div>

        <div class="col-md-12">
            <input type="checkbox" id="sidebarHoverSetting" class="control slide2 blue">
            <label for="sidebarHoverSetting" class="mg-left-5"><span></span>Sidebar Hover</label>
        </div>

        <div class="col-md-12">
            <input type="checkbox" id="roundedSetting" class="control slide2 blue">
            <label for="roundedSetting" class="mg-left-5"><span></span>Rounded Corner Controls</label>
        </div>
    </div>
</div>