<!-- begin #sidebar -->
<div id="sidebar" class="sidebar">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile">
                <div class="image">
                    <a href="javascript:;"><img src="/Areas/Admin/Content/img/user-13.jpg" alt="" /></a>
                </div>
                <div class="info">
                    Nguyen Hoang Chuong
                    <small>Front end developer</small>
                </div>
            </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-header">Các thiết lập chung</li>
            <li><a href="/Admin/Home"><i class="fa fa-laptop"></i> <span>Bảng điều khiển</span></a></li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-laptop"></i>
                    <span>Dashboard</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="index.html">Dashboard v1</a></li>
                    <li><a href="index_v2.html">Dashboard v2</a></li>
                </ul>
            </li>

            <li class="nav-header">Danh mục chức năng</li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-laptop"></i>
                    <span>Quản lý người dùng</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="/Admin/Account">Danh sách</a></li>
                    <li><a href="/Admin/Account/Create">Thêm mới</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-laptop"></i>
                    <span>Danh mục sản phẩm</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="/Admin/Category">Danh sách</a></li>
                    <li><a href="/Admin/Category/Create">Thêm mới</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-laptop"></i>
                    <span>Quản lý sản phẩm</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="/Admin/Product">Danh sách</a></li>
                    <li><a href="/Admin/Product/Create">Thêm mới</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-laptop"></i>
                    <span>Danh mục bài viết</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="/Admin/Blog">Danh sách</a></li>
                    <li><a href="/Admin/Blog/Create">Thêm mới</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-laptop"></i>
                    <span>Quản lý bài viết</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="/Admin/Blog">Danh sách</a></li>
                    <li><a href="/Admin/Blog/Create">Thêm mới</a></li>
                </ul>
            </li>
            <!-- begin sidebar minify button -->
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->