@model chuongnh_shop.Models.Footer
<!-- Footer -->
<div class="footer text-right">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-left">
                @Model.Company
            </div>
        </div>
    </div>
</div>
<!-- End Footer -->
