@model chuongnh_shop.Models.Menu
@section js{
    <script src="/Content/js/site.js"></script>
}
<!-- Navigation Bar-->
<div id="topnav">
    <div class="topbar-main">
        <div class="container">
            <!-- Logo container-->
            <div class="logo">
                <!-- Text Logo -->
                <a href="/" class="logo">
                    <span><i class="glyphicon glyphicon-th-large"></i> TRIAL SHOP</span>
                </a>
            </div>
            <!-- End Logo container-->
            <div class="menu-extras">
                <ul class="nav navbar-nav navbar-right pull-right">
                    <li class="navbar-c-items">
                        <form role="search" class="navbar-left app-search pull-left">
                            <input type="text" placeholder="Nhập từ khóa..." class="form-control">
                            <a><i class="fa fa-search"></i></a>
                        </form>
                    </li>
                </ul>
                <div class="menu-item">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </div>
            </div>
            <!-- end menu-extras -->
        </div> <!-- end container -->
    </div>
    <!-- end topbar-main -->
    <div class="navbar-custom">
        <div class="container">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">
                    <li class="has-submenu">
                        <a href="/trang-chu"><i class="mdi mdi-view-dashboard"></i>Trang chủ</a>
                    </li>
                    <li class="has-submenu">
                        <a href="/gioi-thieu"><i class="fa fa-user"></i>Giới thiệu</a>
                    </li>
                    <li class="has-submenu">
                        <a href="#" id="product"><i class="mdi mdi-layers"></i>Sản phẩm</a>
                        <ul class="submenu megamenu">
                            <li>
                                <ul>
                                    <li>
                                        <span>KIT phát triển</span>
                                    </li>
                                    <li><a href="#">Arduino board</a></li>
                                    <li><a href="#">Arduino Shield</a>
                                    <li><a href="#">PIC</a>
                                    <li><a href="#">Raspberry</a>
                                    <li><a href="#">Phụ kiện KIT</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li>
                                        <span>Mạc truyền nhận</span>
                                    </li>
                                    <li><a href="#">Wifi - Lan</a></li>
                                    <li><a href="#">Bluetooth</a></li>
                                    <li><a href="#">GPS - GSM - 3G</a></li>
                                    <li><a href="#">IR - Hồng ngoại</a></li>
                                    <li><a href="#">RF - RFID</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li>
                                        <span>Mạch cảm biến</span>
                                    </li>
                                    <li><a href="#">Khoảng cách - Vị trí</a></li>
                                    <li><a href="#">Chuyển động - Rung</a></li>
                                    <li><a href="#">Âm thanh - Ánh sáng</a></li>
                                    <li><a href="#">Gia tốc - Gyto</a></li>
                                    <li><a href="#">Dòng điện - Điện áp</a></li>
                                    <li><a href="#">Sinh học - Môi trường</a></li>
                                    <li><a href="#">Nhiệt độ - Độ ẩm</a></li>
                                    <li><a href="#">Lưu lượng - Trọng lượng</a></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li>
                                        <span>Mạch chức năng</span>
                                    </li>
                                    <li><a href="#">Mạch nạp chip</a></li>
                                    <li><a href="#">Mạch lưu trữ</a></li>
                                    <li><a href="#">Mạch giao tiếp</a></li>
                                    <li><a href="#">Mạch âm thanh - Camera</a></li>
                                    <li><a href="#">Mạch thời gian</a></li>
                                    <li><a href="#">Mạch động cơ- tải</a></li>
                                    <li><a href="#">Mạch đóng ngắt</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="/tin-tuc"><i class="fa fa-share-alt-square"></i>Tin tức</a>
                    </li>
                    <li class="has-submenu">
                        <a href="/lien-he"><i class="fa fa-twitch"></i>Liên hệ</a>
                    </li>
                </ul>
                <!-- End navigation menu -->
            </div> <!-- end #navigation -->
        </div> <!-- end container -->
    </div> <!-- end navbar-custom -->
</div>
<!-- End Navigation Bar-->
