 <!-- BEGIN #slider -->
<div id="slider" class="section-container p-0 bg-black-darker">
    <!-- BEGIN carousel -->
    <div id="main-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        @*<ol class="carousel-indicators">
            <li data-target="main-carousel" data-slide-to="0" class="active"></li>
            <li data-target="main-carousel" data-slide-to="1"></li>
            <li data-target="main-carousel" data-slide-to="2"></li>
        </ol>*@
        <!-- BEGIN carousel-inner -->
        <div class="carousel-inner">
            <!-- BEGIN item -->
            <div class="item active">
                <img src="/Upload/Slider/00.jpg" class="bg-cover-img" alt="" />
                <div class="container">
                    @*<img src="/Content/img/slider-1-product.png" class="product-img right bottom fadeInRight animated" alt="" />*@
                </div>
                <div class="carousel-caption @*carousel-caption-left*@">
                    <div class="container">
                        <h3 class="title m-b-5 fadeInDownBig @*fadeInLeftBig*@ animated"> Power Connection</h3>
                        <p class="m-b-15 fadeInDownBig @*fadeInLeftBig*@ animated">Retina. Now in colossal and ginormous.</p>
                        <div class="price m-b-30 fadeInDownBig @*fadeInLeftBig*@ animated"><small>from</small> <span>$649.00</span></div>
                        <a href="#" class="btn btn-outline btn-md fadeInUpBig @*fadeInLeftBig*@ animated">Xem thêm</a>
                    </div>
                </div>
            </div>
            <!-- END item -->
            <!-- BEGIN item -->
            <div class="item">
                <img src="/Upload/Slider/01.jpg" class="bg-cover-img" alt="" />
                <div class="container">
                    @*<img src="/Content/img/slider-2-product.png" class="product-img left bottom fadeInLeft animated" alt="" />*@
                </div>
                <div class="carousel-caption @*carousel-caption-right*@">
                    <div class="container">
                        <h3 class="title m-b-5 fadeInDownBig @*fadeInRightBig*@ animated"> Power Connection</h3>
                        <p class="m-b-15 fadeInDownBig @*fadeInRightBig*@ animated">The only thing that’s changed is everything</p>
                        <div class="price m-b-30 fadeInDownBig @*fadeInRightBig*@ animated"><small>from</small> <span>$1,299.00</span></div>
                        <a href="#" class="btn btn-outline btn-md fadeInUpBig @*fadeInRightBig*@ animated">Xem thêm</a>
                    </div>
                </div>
            </div>
            <!-- END item -->
            <!-- BEGIN item -->
            <div class="item">
                <img src="/Upload/Slider/02.jpg" class="bg-cover-img" alt="" />
                <div class="carousel-caption">
                    <div class="container">
                        <h3 class="title m-b-5 fadeInDownBig animated"> Power Connection</h3>
                        <p class="m-b-15 fadeInDownBig animated">Thin.Light.Powerful.<br />And ready for anything</p>
                        <div class="price fadeInDownBig animated"><small>from</small> <span>$999.00</span></div>
                        <a href="#" class="btn btn-outline btn-md fadeInUpBig animated">Xem thêm</a>
                    </div>
                </div>
            </div>
            <!-- END item -->
        </div>
        <!-- END carousel-inner -->
        <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
    <!-- END carousel -->
</div>
<!-- END #slider -->